<div class="well">
    <strong>Tasks Index: </strong>
    <ul class="list-group">
        {{#each task in model}}
        <li class="list-group-item">
            {{ task.title }}
        </li>
        {{/each}}
    </ul>
</div>
