<div class="mobileCover" id="tasksCover"></div>
  <div id="appcont" class="viewcont">
    <div class="section-container" id="taskscont">
      <div class="row">
        <div class="col-md-4" id="taskpane1">
          <img src="img/tasks.png" / class="contactpadding">
          <h1 class="contactpadding" id="mobileTaskHead">Tasks (##)</h1>
          <form method="get" action="/search" class="search contactpadding" id="contactsearch">
            <input name="q" type="text" size="40" placeholder="Search..." id="typeAheadJustTasks">
          </form>
          <div class="filtercolumn contactpadding">
            <h4>Sort by:</h4>
            <div class="contsort">
              <select class="listSorter" id="taskSort">
                <option>Sort Options</option>
                <option>Sort Options</option>
                <option>Sort Options</option>
              </select>
            </div>
          </div>
          <button class="sortingToggle" id="byDate">Sort</button>
          <button class="sortingToggle" id="byPriority">Sort</button>
          <button class="sortingToggle" id="byName">Sort</button>
          <button class="sortingToggle" id="byContact">Sort</button>
          <ul id="tasklist" class="sidelist">
            <a href="task.html"><li><img src="img/check.png" />Task Title</li></a>
          </ul>
        </div>
        {{outlet}}
      </div>
    </div>
  </div>