<div class="mobileCover" id="tasksCover"></div>
  <div id="appcont" class="viewcont" ng-controller="TasksController as allTasks">
    <div class="section-container" id="taskscont">
      <div class="row">
        <div class="col-md-4" id="taskpane1">
          <img src="img/tasks.png" / class="contactpadding">
          <h1 class="contactpadding" id="mobileTaskHead">Tasks (##)</h1>
          <form method="get" action="/search" class="search contactpadding" id="contactsearch">
            <input name="q" type="text" size="40" placeholder="Search..." id="typeAheadJustTasks">
          </form>
          <div class="filtercolumn contactpadding">
            <h4>Sort by:</h4>
            <div class="contsort">
              <select class="listSorter" id="taskSort">
                <option>Sort Options</option>
                <option>Sort Options</option>
                <option>Sort Options</option>
              </select>
            </div>
          </div>
          <button class="sortingToggle" id="byDate">Sort</button>
          <button class="sortingToggle" id="byPriority">Sort</button>
          <button class="sortingToggle" id="byName">Sort</button>
          <button class="sortingToggle" id="byContact">Sort</button>
          <ul id="tasklist" class="sidelist">
            <a href="task.html" ng-repeat="task in tasks"><li><img src="img/check.png" />{{task.title}}</li></a>
          </ul>
        </div>
        <!--OUTLET-->
        <div class="col-md-7" id="taskpanel2">
          <h1 id="mobileContact" class="taskDetailHeader">Tasks</h1>
          <img src="img/arrow.png" class="backArrow" />
          <h2 id="contactname" class="taskname">Select a task</h2>
          <div id="detailmenubar">
            <img src="img/contacts.png" />
            <img src="img/events.png" />
            <img src="img/tasks.png" class="selected" />
            <img src="img/tags.png" />   
            <a href="javascript:void(0)" class="openModal3"><img src="img/create.png" id="createicon" class="addTask" /></a>
            <img src="img/trash.png" id="trashicon"/>              
          </div>
          <div class="panelcontent" id="taskscontent">
            <div class="infopanel">
            </div>
            <div class="infopanel selected">
            </div>
            <div class="infopanel">
            </div>
            <div class="infopanel">
            </div>
          </div>
        </div>
        <!--/OUTLET-->
      </div>
    </div>
  </div>