<!--OUTLET-->
<div class="col-md-7" id="taskpanel2">
  <h1 id="mobileContact" class="taskDetailHeader">Tasks</h1>
  <img src="img/arrow.png" class="backArrow" />
  <h2 id="contactname" class="taskname">Select a task</h2>
  <div id="detailmenubar">
    <img src="img/contacts.png" />
    <img src="img/events.png" />
    <img src="img/tasks.png" class="selected" />
    <img src="img/tags.png" />   
    <a href="javascript:void(0)"><img src="img/create.png" class="addTask" ng-click="create('task')" /></a>              
  </div>
  <div class="panelcontent" id="taskscontent">
    <div class="infopanel">
    </div>
    <div class="infopanel selected">
    </div>
    <div class="infopanel">
    </div>
    <div class="infopanel">
    </div>
  </div>
</div>
<!--/OUTLET-->