<div class="mobileCover" id="tasksCover"></div>
  <div id="appcont" class="viewcont" ng-controller="TasksController as allTasks">
    <div class="section-container" id="taskscont">
      <div class="row">
        <div class="col-md-4" id="taskpane1">
          <img src="img/tasks.png" / class="contactpadding">
          <h1 class="contactpadding" id="mobileTaskHead">Tasks ({{tasks.length}})</h1>
          <form method="get" action="/search" class="search contactpadding" id="contactsearch">
            <input name="q" type="text" size="40" placeholder="Search..." id="typeAheadJustTasks">
          </form>
          <div class="filtercolumn contactpadding">
            <h4>Sort by:</h4>
            <div class="contsort">
              <select class="listSorter" id="taskSort">
                <option>Sort Options</option>
                <option>Sort Options</option>
                <option>Sort Options</option>
              </select>
            </div>
          </div>
          <button class="sortingToggle" id="byDate">Sort</button>
          <button class="sortingToggle" id="byPriority">Sort</button>
          <button class="sortingToggle" id="byName">Sort</button>
          <button class="sortingToggle" id="byContact">Sort</button>
          <ul id="tasklist" class="sidelist">
            <div ng-repeat="task in tasks">
              <a ui-sref="tasks.task({task_id:task.id})"><li><img src="img/check.png" />{{task.title}}</li></a>
            </div>
          </ul>
        </div>
        <div ui-view></div>
      </div>
    </div>
  </div>