<div class="col-md-7 mobileIn" id="taskpanel2">
  <h1 id="mobileContact" class="taskDetailHeader">Tasks</h1>
  <img src="img/arrow.png" class="backArrow" />
	<h2 id="contactname" class="taskname">
    Title <span class="hidden">{{id}}</span>
  </h2>
  <div id="detailmenubar">
    <img src="img/contacts.png" />
    <img src="img/events.png" />
    <img src="img/tasks.png" class="selected" />
    <img src="img/tags.png" />
    <span id="taskcheck"><img src="img/check.png" /></span>
    <a href="javascript:void(0)"><img src="img/create.png" class="addTask" ng-click="create()" /></a>
    <img src="img/trash.png" id="trashicon"/>
    <button id="destroy">{{id}}</button>           
  </div>
  <div class="panelcontent" id="taskscontent">
    <div class="infopanel">
      <form id="addForm">
        <div class="formrow">Add contacts: <br />
          <input id="typeAheadAddContact" />
        </div>
      </form>
      <div class="contactrow personrow">
        <a href="contact.html"><img src="img/contacts.png" class="contactIcon"><h4>Contact Name</h4><span class="hidden">{{contact.id}}</span></a>
        <img src="img/close.png" class="removeAssoc" />
      </div>
    </div>
    <div class="infopanel">
      <form id="addForm">
        <div class="formrow">Add events: <br />
          <input id="typeAheadAddEvent" />
        </div>
      </form>
      <div class="contactrow eventrow">
        <a href="event.html"><img src="img/events.png" class="eventIcon"><h4>Event Title</h4><span class="hidden">{{event.id}}</span></a>
        <img src="img/close.png" class="removeAssoc" />
      </div>
    </div>
    <div class="infopanel selected">
      <div {{action "editField" "notes" on="doubleClick"}}>
        <b>Note:</b>
        Notes
      </div>
      <div {{action "editField" "priority" on="doubleClick"}}>
        <b>Priority: </b>
        #
      </div>
      <div {{action "editField" "due" on="doubleClick"}}>
        <b>Task Due: </b>
        Due Date
        <br />
      </div>
    </div>
    <div class="infopanel">
      <form id="addForm">
        <div class="formrow">Add tags: <br />
          <input id="typeAheadAddTag" />
        </div>
      </form>
      <div class="contactrow tagrow">
        <a href="tag.html"><img src="img/tags.png" class="tagIcon"></a>
        <h4>Tag Name</h4><span class="hidden">{{tag.id}}</span><img src="img/close.png" class="removeAssoc" />
      </div>
    </div>
  </div>
</div>


<div id="detailPanel" class="panelIn">
  <div class="row">
    <div class="col-md-4 dCol" id="dCol1">
      <div>
        <h1 id="contactname" class="taskname" {{action "editField" "title" "2" on="doubleClick"}}>
          Title <span class="hidden">{{id}}</span>
        </h1>
        <h4 {{action "editField" "notes" "2" on="doubleClick"}}>
          Notes
        </h4>
        <div id="relatedTags">
              <div class="relatedItem">
                <a href="tag.html">
                  <img src="img/tags.png" class="relatedImage"/>
                  <span class="relatedName">Tag Name</span>
                </a>
              </div>
        </div>
        <a href="javascript:void(0)"><img src="img/create.png" class="detailCreate" ng-click="create()"/></a>
        <img id="detailTrash" src="img/trash.png" />
      </div>
      <img class="columnDivider" src="img/divider_green.png" />
    </div>
    <div class="col-md-4 dCol" id="dCol2">
      <div>
        <div class="columnhead">
          <img src="img/events.png" />
          <h3>Events</h3>
        </div>
        <br />
        <div class="detailSection">
          <div class="detailTitle">Open<img src="img/arrow_black.png" class="accordionarrow detailArrow arrowdown"></div>
          <ul class="columnlist">
            <li><a href="event.html">Event Title</a></li>
          </ul>
        </div>
        <div class="detailSection">
          <div class="detailTitle">History<img src="img/arrow_black.png" class="accordionarrow detailArrow arrowdown"></div>
          <ul class="columnlist">
            <li><a href="event.html">Event Title</a></li>
          </ul>
        </div>
      </div>
      <img class="columnDivider" src="img/divider_green.png" />
    </div>
    <div class="col-md-4 dCol" id="dCol3">
      <div>
        <div class="columnhead">
          <img src="img/contacts.png" />
          <h3>Contacts</h3>
        </div>
        <br />
        <ul class="columnlist">
          <li><a href="contact.html">Contact Name</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="detailPanelHider"></div>
<div class="col-md-1 flipswitch fsgreen">
  <img src="img/fliparrow_green.png" id="fliparrow"/>
</div>