.navbar-fixed-top {
	opacity:0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.navbar-fixed-top.top-nav-collapse {
	opacity:1;
}

.navbar-nav>li>a {
	padding: 25px;
	line-height: 25px;
}

#about, #work, #games, #contact {
/*	background: url(../img/intro-bg2.jpg) no-repeat top center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	width: 100%;
}

#aboutUs, #ourWork, #ourGames, #contactUs {
/*	border: 1px solid #ccc;
*/	background: rgba(0, 0, 0, .8);
	padding: 50px;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 50px 0px rgba(0, 0, 0, 1);
	overflow: visible !important;
	position: relative;
	display: inline-block;
}

#contactUs .btn-default {
	border: 0px;
	padding: 10px;
	border-radius: 150px;
}

#contactUs .btn-default
.btn-circle.active {
    opacity: 1;
}

section a:hover {
	color: #f6f06a;
}

li > a {
	-webkit-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
}

li.active > a {
	color: #ff478d;
}

.splitter {
	position: relative;
	width: 100%;
	opacity: .5;
	display: none;
}

.splitter:first-child {
	top: 8px;
}

.splitter:last-child {
	bottom: 9px;
}

#seventySix {
    /*text-shadow: 0px 0px 0 #fff, -1px 0px 0 #fff, 1px -1px 0 #fff, 0px 1px 0 #fff, 0px 0px 0 #fff;*/
    color: #a51e51;
    background: rgba(255, 255, 255, 0);
    border-radius: 100px;
    padding: 20px;
	-webkit-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

#downButton {
	-webkit-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;	
}

#downButton.active {
	opacity: 1;
}

#mainBg {
	position: fixed;
	opacity: 0;
	width: 100%;
	max-width: 100%;
	left: 0%;
	top: -15%;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#whiteCircle {
	position:absolute;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	background: #fff;
}

#root {
	opacity: 0;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	color: #fff;
}

#about {
	opacity: 0;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#work {
	opacity: 0;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#games {
	opacity: 0;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#contact {
	opacity: 0;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#spacer {
	display: block;
	height: 75px;
	width: 100%;
}

#contact2 {
	opacity: 0;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;		
}

#contact2 a {
	font-size: 28px;
	color: #a51e51;
}

#contact2 a:hover {
	color: #fff;
}

.banner-social-buttons {
	opacity: 0;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;			
}

#mainBg.active, #root.active, #about.active, #work.active, #games.active, #contact.active, #contact2.active, .banner-social-buttons.active {
	opacity: 1;
}

#seventySix.active {
	background: rgba(255, 255, 255, 1);
}

.notYet {
	opacity: 0;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

#navLogo {
	position: relative;
	height: 75px;
}

#navLogo img {
	height: 61px;
	width: 61px;
	top: 7px;
	left: 7px;
	position: absolute;
	z-index: 1;
	cursor: pointer;
}

#glow {
	position: absolute;
	border-radius: 50%;
	height: 55px;
	width: 55px;
	left: 10px;
	top: 10px;
	background: #fff;
	-webkit-animation: glowIt 3.5s infinite;
	-o-animation: glowIt 3.5s infinite;
	animation: glowIt 3.5s infinite;
}

#workHead {
	margin-bottom: 15px;
}

.projectLogo > img {
	max-width: 400px;
	width: 100%;
	position: relative;
	top: -15px;
}

.projectImage {
	width: 100%;
	margin-bottom: 30px;
	cursor: pointer;
	opacity: 0;
	border: 1px solid rgba(255,255,255,0);
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.projectImage.active {
	opacity: 1;
}

.projectImage:hover {
	border: 1px solid rgba(255,255,255,1);
}

#gamesHead {
	margin-bottom: 0px;
}

.gameImageContainer {
	margin-top: 50px;
}

.gameImageContainer > a > img {
	padding: 10px;
	padding-top: 0px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.gameImageContainer > a > img:hover {
	opacity: .7;
}

.gameImage {
	width: 100%;
	max-width: 284px;
}

.availableHeading {
	margin-top: 30px;
	font-weight: 100;
}

#myModal {
	width: 66%;
	left: 17%;
	height: 80%;
	top: 10%;
}

#modalImage {
	width: 100%;
}

.modal-backdrop.in {
	opacity: .8;
}

#shareImage {
	margin-top: 10px;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#shareImage:hover {
	opacity: .8;
}

/* key-frame-animations */


@-webkit-keyframes glowIt {
	0% { 
		opacity: .3;
	}
	50% { 
		opacity: 1;
	}
	100% { 
		opacity: .3;
	}
}

@-o-keyframes glowIt {
	0% { 
		opacity: .3;
	}
	50% { 
		opacity: 1;
	}
	100% { 
		opacity: .3;
	}
}

@keyframes glowIt {
	0% { 
		opacity: .3;
	}
	50% { 
		opacity: 1;
	}
	100% { 
		opacity: .3;
	}
}

@media screen and (max-width: 1440px) {
	#mainBg {
		width: 125%;
		max-width: 125%;
		left: -12.5%;
	}
}

@media screen and (max-width: 1280px) {
	#mainBg {
		width: 150%;
		max-width: 150%;
		left: -15%;
	}
}

@media screen and (max-width: 1200px) {
	#aboutUs, #ourWork, #ourGames, #contactUs {
		width: 100%;
	}
}

@media screen and (max-width: 1024px) {
	#mainBg {
		width: 175%;
		max-width: 175%;
		left: -17.5%;
	}
}

@media screen and (max-width: 880px) {
	#aboutUs, #ourWork, #ourGames, #contactUs {
		border: 0px;
		padding: 25px;
	}
	#mainBg {
		width: 200%;
		max-width: 200%;
		left: -20%;
	}
}

@media screen and (max-width: 768px) {
	#aboutUs, #ourWork, #ourGames, #contactUs {
		border: 0px;
		padding: 25px;
	}
	#mainBg {
		width: 225%;
		max-width: 225%;
		left: -22.5%;
	}
}

@media screen and (max-width: 640px) {
	#aboutUs, #ourWork, #ourGames, #contactUs {
		border: 0px;
		padding: 25px;
	}
	#mainBg {
		width: 250%;
		max-width: 250%;
		height: 115%;
		left: -25%;
	}
}