@import url(bootstrap-sass/lib/bootstrap);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

textarea:focus, input:focus, select:focus{
    outline: 0;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

.row {
	margin:0px;
}

body {
	background: #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:300;
	text-align: left;
	text-decoration: none;
	margin-top: 140px;
	color:#333;
}

iframe {
	width:100%;
}

hr {
	margin:0px;
	padding:0px;
}

.container {
	position:relative;
}

#logo {
	font-family: 'Pacifico', cursive;
	color: #2f3872;
	text-align: center;
	font-size: 28px;
	top:10px;
	position: relative;
	font-weight: 400;
	margin:0px;
	padding-top:9px;
}

#wrapper p {
	margin-top:85px;
	color:#fff;
	font-size:10px;
}

#loggedin {
	position:absolute;
	top:-25px;
	width:calc(100% - 30px);
	text-align:right;
	color:#888;
}

#loggedin span {
	padding-right:25px;
}

#loggedin a {
	color:#888;
	text-decoration:underline;
}

.navbar {
	margin-top:40px;
	border-top:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	-webkit-box-shadow: 0px 3px 15px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 3px 15px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 3px 15px rgba(50, 50, 50, 0.3);
}

.nav>li>a {
	padding:25px;
	padding-left:8px;
	padding-right:20px;
	text-align:center;
	font-weight:bold;
	color:#666;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color:#e9e8e5;
}

.navbar-collapse {
	background:#fff;
	max-height:1000px;
}

.dropdown-menu {
	min-width:106px;
	width:106px;
	background-color:#e9e8e5;
	padding:0px;
	border:0px;
}

#createmenu ul {
	width:120px;
}

.dropdown-menu>li>a {
	padding:0px;
	padding-left:5px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color:#d8d7d4;
}

.navbar-nav>li>.dropdown-menu li {
	border-bottom:1px solid #e2e1de;
}

.search {
	margin-top:21px;
	margin-left:20px;
}

.search input[type="text"] {
    background: url(../img/search.png) no-repeat #fcfcfc;
    background-position:right;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 200px;
    padding: 6px 10px 6px 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}

.search input[type="text"]:focus {
    width: 200px;
}

.menucont {
	float:left;
	width:39%;
	border:1px solid #f3f3f3;
	color:#888;
}

.menucont h2 {
	margin-top:10px;
	font-size:24px;
	padding-left:25px;
}

.menucont h3 {
	margin-top:13px;
	margin-bottom:14px;
	padding-left:25px;
	font-size:18px;
}

.menusubcont {
	width:100%;
	border-top:1px solid #c8c8c8;
}

.subcontitem {
	width:25%;
	float:left;
	background:#f7f7f7;
	border-right:1px solid #c8c8c8;
	cursor:pointer;
	 -webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	pointer-events:default;
	position:relative;
}

.subcontitem img {
	height:40px;
	display:block;
	margin:0 auto;
	pointer-events:none;
}

.subcontitem ul {
	list-style:none;
	text-align:center;
	display:none;
}

.subcontitem ul li {
	border-bottom: 1px solid #e2e1de;
	line-height:24px;
	position:relative;
}

.subcontitem ul li:hover {
	background-color: #d8d7d4;
}

ul.sortby {
	display:block;
	position:absolute;
	z-index:100;
	background:#eee;
	color:#333;
	width:100%;
	 -webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}

.invis {
	pointer-events:none;
	opacity:0;
}

ul.sortby li.selected {
	background:#fff;
	color:#000;
}

.subcontitem:first-child:hover,
.subcontitem.selected:first-child {
	background:#648e58;
}

.subcontitem:nth-child(2):hover,
.subcontitem.selected:nth-child(2) {
	background:#8d1646;
}

.subcontitem:nth-child(3):hover,
.subcontitem.selected:nth-child(3) {
	background:#303872;
}

.subcontitem:last-child:hover,
.subcontitem.selected:last-child {
	background:#666;
}

.subcontitem:last-child {
	border-right:0px;
}

.selectcont {
	padding:5px;
	height:41px;
	background:#a6a7a6;
	position:relative;
}

.selectcont select {
	color:#888;
	height: 100%;
	width: 100%;
	background: #fbf7f6;
	padding-left:15px;
}

.selectcont img {
	position: absolute;
	right: 4px;
	top: 4px;
	height: 32px;
	pointer-events: none;
}

.selectcont select option {
	height:31px;
	line-height:31px;
}

.sortcont {
	height:31px;
	background:#fff;
	position:absolute;
	width:40%;
	right:15px;
	top:12px;
}

.sortcont select {
	color:#888;
	height: 100%;
	width: 100%;
	padding-left:15px;
	padding-top:0px;
}

.sortcont img {
	position: absolute;
	right: 4px;
	top: 4px;
	height: 32px;
	pointer-events: none;
}

.sortcont select {
	height:31px;
	line-height:31px;
	font-size:16px;
}

#showme, #sortby {
	margin-right:1%;
}

#schedule {
	width:20%;
}

a {
	color:#a3cdde;
	text-decoration:none;
}

label {
	color: #fff;
}

h1, h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	width: 400px;
	height: 400px;
	position: relative;
	margin: 0 auto;
	margin-top: 150px;
}

#wrapper h1 {
	font-family: 'Pacifico', cursive;
	color:#2f3872;
	text-align:center;
	font-size: 72px;
	top: -20px;
	position: relative;
	font-weight:400;
}

#collapseall, #expandall {
	display:inline;
	margin-left:20px;
}

#homecont h3 {
	margin-right:20px;
	cursor:pointer;
	width:100%;
	margin-bottom:0px;
}

.login-form {
	width:400px;
	height:330px;
	margin: 0 auto;
	position: relative;
	z-index:5;
	background: #6f6667;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .header {
	padding:30px;
	padding-bottom:20px;
}

.login-form .header h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}

.login-form span {
	font-size: 12px;
	line-height: 20px;
	color: #fff;
}

.login-form .content {
	padding: 0 30px 25px 30px;
}

.login-form .content .input {
	width: 307px;
	padding: 15px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.input.username {
	margin-bottom:20px;
}

.login-form .content .input:hover {
	background: rgba(163,193,79,0.5);
	color: #fff;
}

.login-form .content .input:focus {
	background: rgba(163,193,79,0.5);
	color: #fff;
}

.user-icon, .pass-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: 3;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.user-icon {
	top:218px;
	background: rgba(65,72,72,0.75) url(../images/user-icon.png) no-repeat center;	
}

.pass-icon {
	top:306px;
	background: rgba(65,72,72,0.75) url(../images/pass-icon.png) no-repeat center;
}

.input, .user-icon, .pass-icon, .button, .register {
	transition: all 0.25s;
	-moz-transition: all 0.25s;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	-ms-transition: all 0.25s;
}

.login-form .footer {
	padding: 25px 30px 40px 30px;
	overflow: auto;	
	background: #d4dedf;
	border-top: 1px solid #fff;	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.login-form .content .button {
	float:right;
	padding: 11px 25px;
	margin-top:20px;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);	
	background: #afcf55;
	border: 1px solid #a3c14f;
	border-radius: 5px;
	cursor: pointer;	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.login-form .footer .button:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .footer .button:focus {
	position: relative;
	bottom: -1px;
	background: #56c2e1;
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* Register button */
.login-form .footer .register {
	display: block;
	float: right;
	padding: 10px;
	margin-right: 20px;
	background: none;
	border: none;
	cursor: pointer;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.login-form .footer .register:hover {
	color: #3f9db8;
}

.login-form .footer .register:focus {
	position: relative;
	bottom: -1px;
}

#regbutton {
	float:left;
}

#logbutton {
	float:right;
}

#tos {
	display:block;
	margin-top:20px;
}

.navimg {
	height:45px;
	float:left;
	position:relative;
	top:-12px;
}

.subnavimg {
	max-height:30px;
}

.ember-view {
	max-width:1170px;
	width:100%;
	margin-right: auto;
	margin-left: auto;
}

#appcont {
	background:#f7f7f7;
	height:650px;
	margin-top:10px;
	max-height:650px;
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.5);
	overflow:hidden;
	font-family: 'Open Sans', sans-serif;
}

#appcont h1 {
	margin-left:30px;
}

#footer {
	position:fixed;
	bottom:0px;
	height:60px;
	line-height:24px;
	border-top:1px solid #EEE;
	background:#FFF;
	width:100%;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.3);
}

.navbar-toggle {
	z-index:9999;
}

.navbar-toggle .icon-bar {
	background:#333;
	cursor:pointer;
}

#sociallinks {
	padding-top:17px;
	float:right;
}

#sociallinks img {
	float:right;
	height:25px;
	padding-left:12px;
}

#sociallinks img:hover {
	opacity:.7;
}

#helplinks {
	float:left;
	padding-top:17px;
}

.section-container {
	padding:15px;
	height:100%;
}

#helpimg {
	float:left;
	max-height:25px;
	max-width:25px;
	margin-right:12px;
	position:relative;
}

#feedbackimg {
	height: 55px;
	float: left;
	top: -12px;
	position: relative;
}

#socialimg {
	float: left;
	height: 45px;
	position: relative;
	top: -10px;
}

#helplinks span {
	float:left;
	font-weight:700;
	color:#b9b5b5;
}

#helplinks div {
	float:left;
	display:block;
	margin-right:14px;
}

#helplinks div:hover {
	opacity:.7;
}

.list {
	width:100%;
	display:block;
	list-style:none;
	margin-bottom:0px;
	padding:15px;
	padding-top:0px;
	padding-bottom:0px;
	overflow-y:auto;
	height:508px;
	-webkit-overflow-scrolling:touch;
}

.dashlist {
	margin-top:15px;
	height:526px !important;
}

.listitem {
	background:#fff;
	margin-bottom:15px;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.3);
}

.listitem:last-child {
	margin-bottom:0px;
}

.dashitem {
	margin-bottom:0px;
}

.dashitem h3 {
	margin-top:0px;
	margin-bottom:0px;
	color:#fff;
	padding:15px;
}

.listimg {
	margin-left:10px;
	margin-right:10px;
}

.listimg, .subicon {
	width:60px;
}

.subitem {
	margin-left:80px;
	height:60px;
}

.subdash {
	margin-left:15px;
	color:#fff;
	height:45px;
}

.subdash img {
	width:45px;
}

.mainsort {
	position:relative;
}

.subitemtext {
position:relative;
top:2px;
margin-right: 25px;
font-size: 16px;
color: #666;
}

.subdashtext {
	color:#fff;
}

#recentdash {
	background:#00a3ac;
}

#tasksdash {
	background:#1390d2;
}

#eventsdash {

}

#eventsdash h3 {
	color:#333;
}

#tagsdash {
	background:#005e66;
}

#eventslist {
	list-style:none;
	width:100%;
}

#eventslist li {
	padding:15px;
	font-size:16px;
	width:100%;
	position:relative;
	border-bottom:1px solid #CCC;
}

#eventslist li span {
	padding-left:10px;
}

.eventssublist {
	position:absolute;
	top:0px;
	left:190px;
	padding:15px;
}

.eventssublist li {
	padding:0px !important;
	float:left;
	border-bottom:0px !important;
	width:auto !important;
	margin-right:35px !important;
}

#orphanhead {
	margin-left:-20px !important;
	display:inline;
	position:relative;
	font-weight:700;
	font-size:48px;
	top:55px;
}

#orphansubhead {
	position:relative;
	top:60px;
	left:-15px;
	padding-right:20px;
}

#orphanlogo {
	width:200px;
	position:relative;
	top:-20px;
	float:left;
}

#orphancontainer {
	position: absolute;
	top: 270px;
	left: 125px;
}

#orphancontainer h1 {
	font-weight:bold;
}

#orphancontainer img {
	width:200px;
	position:relative;
	left:20px;
}

.ocount {
	display:inline;
	margin-left:-7px !important;
}

#orphanhelp {
	position: absolute;
	bottom: 20px;
	left: 195px;
	padding-right: 80px;
}

#contactscont {
	padding:0px;
}

#contactscont h1, #taskscont h1 {
	font-size:32px;
	position:relative;
	left:20px;
}

#settingname h3 {
	position:relative;
	left:20px;
}

#taskpane1, #eventpane1 {
	padding:0px;
	background:#fff;
}

#contactpane1 img, #taskpane1 img {
	width:75px;
	float:left;
	position:relative;
	left:15px;
	padding:0px;
}

#taskpane2 {
	background:#95194d;
}

#contactsearch {
	margin-left:0px;
}

#contactpane1 {
	background:#fff;
	padding:0px;
}

#contactsearch input {
	width:100%;
}

.filtercolumn {
	position:relative;
	margin-top:20px;
}

.contsort {
	right:30px;
	top: -7px;
	width:55%;
	padding-left:0px;
}

.contsort select {
	font-size:18px;
}

#contactlist, #tasklist, #eventlist, #taglist {
	list-style:none;
	overflow:auto;
}

#contactlist {
	height:458px;
}

#tasklist, #eventlist, #taglist {
	height:487px;
}

#contactlist li, #tasklist li, #eventlist li, #taglist li {
	background:#c6bdc0;
	color:#fff;
	padding:10px;
	padding-left:30px;
	border-bottom:1px solid #ddd;
	font-weight:400;
	cursor:pointer;
}

#contactlist li:hover {
	background:#3a3f7f;
}

#tasklist li:hover {
	background:#95194d;
}

#eventlist li:hover {
	background:#b2d03a;
}

#taglist li:hover {
	background:#666;
}

.contactpadding {
	padding-left:30px;
	padding-right:30px;
}

#contactpanel2 {
	background:#3a3f7f;
	height:650px;
	padding-left:30px;
	padding-right:30px;
}

#taskpanel2 {
	background:#95194d;
	height:650px;
	padding-left:30px;
	padding-right:30px;
}

#eventpanel2 {
	background: #b2d03a;
	height: 650px;
	padding-left: 30px;
	padding-right: 30px;
}

#tagpanel2 {
	background: #666;
	height: 650px;
	padding-left: 30px;
	padding-right: 30px;	
}

#profilepic {
	margin-top:50px;
	width:70px;
	float:left;
}

#contactname {
	color:#fff;
	float:left;
	margin-left:15px;
	margin-top:45px;
}

#detailmenubar img {
	width:50px;
	cursor:pointer;
}

#detailmenubar {
	top:85px;
	left:103px;
	position:absolute;
	width:645px;
}

.panelcontent {
	top:145px;
	position:relative;
	height:400px;
	padding:10px;
}

.panelcontent p {
	position:absolute;
	top:10px;
	padding:20px;
	font-size:16px;
}

#contactcontent {
	background:#2a336c;
}

#taskscontent {
	background:#fff;
	padding:0px;
	height:475px;
}

#tasksfooter {
	background:#fff;
}

#taskscont {
	padding:0px;
}

.panelfooter {
	top:150px;
	position:relative;
	height:65px;
}

#contactfooter {
	background:#2a336c;
}

.contactinfo {
	position:absolute;
	top:15px;
	width:100%;
}

.contactrow {
	height:40px;
}

.contactrow img {
	height:50px;
	float:left;
}

.contactrow h4 {
	color:#fff;
	position:relative;
	top:15px;
}

.panelfooter h5 {
	line-height: 65px;
	color: #fff;
	padding-left: 25px;
}

.col-lg-12 {
	padding-left:0px;
	padding-right:0px;
}

.homeapp {
	height:550px !important;
	margin-top:20px !important;
}

#trashicon {
	position:absolute;
	right:0px;
	top:-3px;
	width:55px !important;
}

#closebutton {
	position:absolute;
	top:5px;
	right:5px;
	width:30px;
	cursor:pointer;
}

#contactlist .currentcontact {
	background:#3a3f7f;
}

#tasklist .currentcontact {
	background:#95194d;
}

#eventlist .currentcontact {
	background:#b2d03a;
}

#taglist .currentcontact {
	background:#666;
}

#taskpane1 .filtercolumn {
	margin-bottom:20px !important;
}

.taskbar {
	width:100% !important;
	left:20px !important;
}

.taskbar #trashicon {
	right:30px !important;
}

.taskname {
	margin-left:0px !important;
}

#settingsummary {
	width:125px;
	height:650px;
	float:left;
	border:1px solid #ccc;
}

#settingsummary img {
	float:left;
	width:50px;
	position:relative;
	left:15px;
}

#settingimage {
	left:0px !important;
	float:none !important;
	width:75px !important;
	display:block;
	margin:0 auto;
	padding-top:50px;
}

.itemcounts {
	padding-top:50px;
}

.itemcount {
	height:50px;
}

#settingsummary p {
	position:relative;
	top:15px;
	left:15px;
	font-weight:700;
	font-size:16px;
}

#settingmain {
	float:right;
	width:1000px;
	height:200px;
	background:#fff;
	padding:30px;
	padding-top:35px;
	border:1px solid #ccc;
}

#settingname {
	background:#01a5af;
	padding:10px;
}

#settingmain a {
	text-align: right;
	color: #333 !important;
	position: relative;
	float: right;
	top: -25px;
	padding-left:25px;
}

#settingname h1, #settingname h3 {
	margin:0px;
	color:#fff;
	line-height:62px;
}

#settingfooter {
	padding:50px;
	float:right;
	width:1000px;
	height:430px;
	background:#fff;
	position:relative;
	top:20px;
	border:1px solid #ccc;
}

.settingoption {
	height: 35px;
	font-size:20px;
}

.settingoption h5 {
	float:left;
	padding:5px;
	margin:0px;
	font-size:20px;
	color:#333;
}

.settingoption a {
	position:relative;
	display:inline;
	top:3px;
	color:#fff;
	background:#000;
	padding:3px;
	padding-top:0px;
	padding-bottom:0px;
	cursor:pointer;
}

.settingspage {
	box-shadow:none !important;
	background:#fff !important;
}

.view-container-border {
	background-color:#fff !important;
}