<div class="mobileCover" id="calendarCover"></div>
<div id="eventDetailPopup"><p>It's a popup</p></div>
<h1 id="calendarHeader">Calendar<a href="javascript:void(0)" class="calendar-create-icon small-create-icon"><img src="img/create.png" ng-click="create()"/></a></h1>
<div id="appcont" class="homeapp calendarContainer" ng-controller="CalendarController">
  <div class="section-container">
    <div id="curDate">...</div>
    <div id="calendarchoice">
      <div class="calchoice">Day</div>
      <div class="calchoice">Week</div>
      <div class="calchoice selected">Month</div>
      <div class="calchoice">List</div>
      <div id="calToday">Today</div>
    </div>
    <div id="showme" class="menucont menucal">
      <div><h2>Show:</h2></div>
      <div class="menusubcont">
        <div class="subcontitem showitem selected calview" id="mainevent"><img src="img/calendar.png" /></div>
        <div class="subcontitem showitem selected calview" id="maintask"><img src="img/tasks.png" /></div>
      </div>
    </div>
    <div id="calendarcont"><!--Calendar Goes Here--></div>
  </div>
</div>