<script type="text/ng-template" id="createAssociateTemplate.html">
  <a>
      <img ng-src="img/{{match.model.type}}s.png" width="16px">
      <span bind-html-unsafe="match.model.title | typeaheadHighlight:query"></span>
  </a>
</script>

<div>

  <div class="modal-header">
    <a href="javascript:void(0)" title="Close" class="close" ng-click="quit()">X</a>
    <h2 id="createHeader">Create:   </h2>

    <span class="dropdown" is-open="status.isopen">

      <h3 id="createHeader" class="dropdown-toggle">{{dropdownText}} <span class="caret"></span></h3>
      
      <ul class="dropdown-menu">
        <li><a href ng-click="selectCreation(1)">Contact</a></li>
        <li><a href ng-click="selectCreation(2)">Event</a></li>
        <li><a href ng-click="selectCreation(3)">Task</a></li>
        <li><a href ng-click="selectCreation(4)">Tag</a></li>
      </ul>
    </span>
  </div>

  <div ng-show="contactSelected()" ng-controller="ContactCreationController">
    
    <div class="modal-body">

      <div class="formrow">
        <h4>Contact name</h4> 
        <input type="text" class="form-control" ng-model="newContact.name" placeholder="Enter the contacts name">
      </div>
      
      <div class="formrow">
        <h4>{{emailTitle()}}</h4>
        <div id="emailsContainer"><img ng-click="addEmail()" src="img/create.png"/></div>
        <div ng-repeat="email in newContact.emails" class="emailInputContainer">
          <input type="text" class="form-control" ng-model="email.email" placeholder="Enter the contacts email">
          <div id="emailsDelete">
            <img ng-click="removeEmail(email)" src="img/close.png"/>
          </div>
        </div>
      </div>

      <div class="formrow">
        <h4>Contact company</h4> 
        <input type="text" class="form-control" ng-model="newContact.organization" placeholder="Enter the contacts company">
      </div>

      <div class="formrow">
        <h4>{{phoneTitle()}}</h4>
        <div id="phonesContainer"><img ng-click="addPhone()" src="img/create.png"/></div>
        <div ng-repeat="phone in newContact.phones">
          <input type="text" class="form-control" ng-model="phone.number" placeholder="Enter the contacts phone number">
          <div id="phonesDelete">
            <img ng-click="removePhone(phone)" src="img/close.png"/>
          </div>
        </div>
      </div>

      <div class="formrow">
        <h4>Contact address</h4> 
        <input type="text" class="form-control" ng-model="newContact.address" placeholder="Enter the contacts company">
      </div>

      <div class="formrow typeaheadAssociated">
        <h4>Associate Items</h4>
        <input type="text" ng-model="selectedObject" placeholder="Type to select item" typeahead="object as object.title for object in objects | filter:{title:$viewValue} | associatedContactObjects" typeahead-template-url="createAssociateTemplate.html" typeahead-on-select="onSelect($item, $model, $label); selectedObject = undefined;" class="form-control">
      </div>

       <div class="formrow typeaheadSelected">
         Selected Items:
         <div class="relatedList relatedContacts">
           <ul ng-repeat="object in associatedObjects">
              <li ng-show="object.type=='event'">
                <img class="pull-left" src="img/events.png">
                {{object.title}}
                <img ng-click="removeObject(object)" src="img/close.png"/>
              </li>

              <li ng-show="object.type=='task'">
                <img src="img/tasks.png">
                {{object.title}}
                <img ng-click="removeObject(object)" src="img/close.png"/>
              </li>
              
              <li ng-show="object.type=='tag'">
                <img src="img/tags.png">
                {{object.title}}
                <img ng-click="removeObject(object)" src="img/close.png"/>
              </li>
           </ul>
         </div>
       </div>

    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="createContact()">Create Contact</button>
    </div>
  </div>

  <div ng-show="eventSelected()" ng-controller="EventCreationController">
    
    <div class="modal-body">
      <div class="formrow">
        <h4>Event title</h4> 
        <input type="text" class="form-control" ng-model="newEvent.title" placeholder="Enter the events title">
      </div>
      <div class="formrow">
        <h4>Event description</h4> 
        <input type="text" class="form-control" ng-model="newEvent.description" placeholder="Enter the events description">
      </div>
      <div class="formrow">
        <h4>Event location</h4> 
        <input type="text" class="form-control" ng-model="newEvent.location" placeholder="Enter the events location">
      </div>

      <div class="formrow">
        <div class="col-md-6 eventOption">
          <h4 class="colHeader">All Day: </h4>
          <div class="squaredTwo">
            <input type="checkbox" value="None" id="allDay" name="check" ng-model="newEvent.is_all_day" ng-click="AllDay()">
            <label for="allDay"></label>
          </div>
        </div>
        <div class="col-md-6 eventOption">
          <h4 class="colHeader">Recurring: </h4>
          <div class="squaredTwo">
            <input type="checkbox" value="None" id="recurring" name="check" ng-model="newEvent.recurring" ng-click="Recurring()">
            <label for="recurring"></label>
          </div>
        </div>
      </div>

      <div class="formrow">
        <div class="col-md-6">
          <h4>Start Date</h4>
          <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="newEvent.start_date" is-open="startDateOpened" datepicker-options="dateOptions" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event, 'start')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
        <div class="col-md-6 timepickerUI" ng-hide="newEvent.is_all_day">
          <timepicker ng-model="startTime" ng-change="changed()" minute-step="15" show-meridian="true"></timepicker>
        </div>
        <div class="col-md-6">
          <h4>End Date</h4>
          <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="newEvent.end_date" is-open="endDateOpened" datepicker-options="dateOptions" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event, 'end')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
        <div class="col-md-6 timepickerUI" ng-hide="newEvent.is_all_day">
          <timepicker ng-model="endTime" ng-change="changed()" minute-step="15" show-meridian="true"></timepicker>
        </div>
      </div>


      <div ng-show="newEvent.recurring">
        
        <div class="formrow repeatsSelect">
          <div class="col-md-6">
            <h4>Repeats</h4>
            <select ng-model="recurrence.frequency" ng-options="frequency.value as frequency.display for frequency in frequencies" class="form-control"></select>
          </div>

          <div class="col-md-6" ng-show="recurrence.frequency=='day'">
            every
            <input type="text" class="form-control" ng-model="newTask.title"> 
            days
          </div>
        </div>

        <form>
          <input type="radio" ng-model="endsAfter" value="never" class="repeatOptionHeader"><h4 class="repeatOption" >Never</h4><br />
          <input type="radio" ng-model="endsAfter" value="after" class="repeatOptionHeader"><h4 class="repeatOption" >After</h4><input type="number" class="form-control occurenceInt" ng-model="endsAfterOcurrences"> <h4 class="repeatOption">Occurences</h4><br />
          <input type="radio" ng-model="endsAfter" value="on" class="repeatOptionHeader"><h4 class="repeatOption" >On</h4> 
            <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endsAfterDate" is-open="endsAfterDateOpened" datepicker-options="dateOptions" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openEndAfter($event, 'end')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
          <br/>
        </form>

      </div>
      <!-- TODO: INSERT CONDITIONAL FIELDS HERE -->

      <div class="formrow typeaheadAssociated">
        <h4>Associate Items</h4>
        <input type="text" ng-model="selectedObject" placeholder="Type to select item" typeahead="object as object.title for object in objects | filter:{title:$viewValue} | associatedEventObjects" typeahead-template-url="createAssociateTemplate.html" typeahead-on-select="onSelect($item, $model, $label); selectedObject = undefined;" class="form-control" />
      </div>

       <div class="formrow typeaheadSelected">
         Selected Items:
         <div class="relatedList relatedTags">
           <ul ng-repeat="object in associatedObjects">
              <li ng-show="object.type=='contact'">
                <img class="pull-left" src="img/contacts.png">
                {{object.title}}
                <img ng-click="removeObject(object)" src="img/close.png"/>
              </li>

              <li ng-show="object.type=='task'">
                <img src="img/tasks.png">
                {{object.title}}
                <img ng-click="removeObject(object)" src="img/close.png"/>
              </li>
              
              <li ng-show="object.type=='tag'">
                <img src="img/tags.png">
                {{object.title}}
                <img ng-click="removeObject(object)" src="img/close.png"/>
              </li>
           </ul>
         </div>
       </div>

    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="createEvent()">Create Event</button>
    </div>
  </div>

  <div ng-show="taskSelected()" ng-controller="TaskCreationController">
    <div class="modal-body">

      <div class="formrow">
        <h4>Task title</h4> 
        <input type="text" class="form-control" ng-model="newTask.title" placeholder="Enter the tasks title">
      </div>
      
      <div class="formrow">
        <h4>Task notes</h4> 
        <input type="text" class="form-control" ng-model="newTask.notes" placeholder="Enter notes about the task">
      </div>

      <div class="formrow">
        <h4>Due Date</h4>
        <div class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="newEvent.due" is-open="dueOpened" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>

      <div class="formrow">
        <h4>Task priority</h4> 
        <input type="text" class="form-control" ng-model="newTask.priority" placeholder="Enter the tasks priority">
      </div>

      <div class="formrow typeaheadAssociated">
        <h4>Associate Items</h4>
        <input type="text" ng-model="selectedObject" placeholder="Type to select item" typeahead="object as object.title for object in objects | filter:{title:$viewValue} | associatedTaskObjects" typeahead-template-url="createAssociateTemplate.html" typeahead-on-select="onSelect($item, $model, $label); selectedObject = undefined;" class="form-control">
      </div>

      <div class="formrow typeaheadSelected">
        Selected Items:
        <div class="relatedList relatedTags">
          <ul ng-repeat="object in associatedObjects">
            <li ng-show="object.type=='contact'">
              <img class="pull-left" src="img/contacts.png">
              {{object.title}}
              <img ng-click="removeObject(object)" src="img/close.png"/>
            </li>
            <li ng-show="object.type=='event'">
              <img src="img/events.png">
              {{object.title}}
              <img ng-click="removeObject(object)" src="img/close.png"/>
            </li>
            <li ng-show="object.type=='tag'">
              <img src="img/tags.png">
              {{object.title}}
              <img ng-click="removeObject(object)" src="img/close.png"/>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="createTask()">Create Task</button>
    </div>
      <!--<form>
        <div class="formrow">Task title: <input type="text" id="taskName"></div>
        <div class="formrow">Task notes: <input type="text" id="taskNotes"></div>
        <div class="formrow">
          <span>Add time to due date: </span>
          <div class="squaredTwo">
            <input type="checkbox" value="None" id="taskTime" name="check" />
            <label for="taskTime"></label>
          </div>
        </div>
        <div class="formrow taskDate">Due date: <input type="text" id="taskDue"><img src="img/calendar.png" /></div>
        <div class="formrow taskDateTime">Due date and time: <input type="text" id="taskDueTime"><img src="img/calendar.png" /></div>
        <div class="formrow">Priority:<br /> 
          <select id="taskPriority">
            <option>Select a priority</option>
            <option>High</option>
            <option>Normal</option>
            <option>Low</option>
          </select>
        </div>
        <div class="formrow">Connect related items: <br /><input id="typeAheadTask" />
        </div>
        <div class="formrow">
          Selected Items:
          <div class="relatedList relatedTasks">
            <ul>
            </ul>
          </div>
        </div>
        <div class="formrow"><input type="submit"></div>
      </form>-->
  </div>

  <div ng-show="tagSelected()" ng-controller="TagCreationController">
    
    <div class="modal-body">        
      <div class="formrow">
        <h4>Tag name</h4> 
        <input type="text" class="form-control" ng-model="newTag.name" placeholder="Enter the tags name">
      </div>

      <div class="formrow">
        <h4>Associate Items</h4>
        <input type="text" ng-model="selectedObject" placeholder="Type to select item" typeahead="object as object.title for object in objects | filter:{title:$viewValue} | associatedTagObjects" typeahead-template-url="createAssociateTemplate.html" typeahead-on-select="onSelect($item, $model, $label); selectedObject = undefined;" class="form-control">
      </div>

       <div class="formrow">
         Selected Items:
         <div class="relatedList relatedTags">
           <ul ng-repeat="object in associatedObjects">
              <li ng-show="object.type=='event'">
                <img class="pull-left" src="img/events.png">
                {{object.title}}
                <img ng-click="removeObject(object)" src="img/close.png"/>
              </li>
              <li ng-show="object.type=='task'">
                <img src="img/tasks.png">
                {{object.title}}
                <img ng-click="removeObject(object)" src="img/close.png"/>
              </li>
              <li ng-show="object.type=='contact'">
                <img src="img/contacts.png">
                {{object.title}}
                <img ng-click="removeObject(object)" src="img/close.png"/>
              </li>
           </ul>
         </div>
       </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="createTag()">Create Tag</button>
    </div>
  </div>

</div>