

<div>
	<div class="modal-header">
		<a href="javascript:void(0)" title="Close" class="close" onclick="$('.modal').click()">X</a>
		<h2 id="createHeader">Help</h2>
		<a href="tel:7575040207"><h2 id="phonenumber">757-504-0207</h2></a>
	</div>
    <div class="modal-body">        
		<h3>Calendar</h3>
		<p>View your calendar Events here in 4 options: Day, Week, Month or List. You decide which activity to see too: Events, Tasks, Contacts & Tags.</p>
		<h3>Collapse all</h3>
		<p>On the Show Me page, you can Collapse every line of information all at once to de-clutter your screen.  You can always collapse a specific line of information by clicking the arrow on the far right.</p>
		<h3>Contacts</h3>
		<p>Contacts are used to keep information about specific people.  On the Contacts page, search, view, edit, create & delete your Contacts here with 5 filter & 2 sort options.</p>
		<h3>Create</h3>
		<p>From virtually any screen, you can Create new Contacts, Events, Tasks or Tags.  While doing so, you can also link the new object to any of your Contacts, Events, Tasks or Tags.</p>
		<h3>Cross platform access</h3>
		<p>At this time Day Won only runs on your Internet browser.  But you can access Day Won from any browser on any device: PC, smartphone & tablet.  If you sync a device or app to Gmail, any Contact, Event or Task can be viewed in Gmail or that app without using Day Won—you just won't see the Day Won connections.  We don't want to force you to always have to use Day Won.  So even when you don't have Internet access, you will always have access to your Contacts & Events in your dedicated contact or calendar apps.</p>
		<h3>Dashboard</h3>
		<p>Recent Activities: view the last 10 items you've edited in both Gmail & Day Won</p>
		<p>Tasks: quickly view your Tasks with a simple sort & filter option</p>
		<p>Events: see your calendar Events for the next 7 days</p>
		<p>Tags: quickly view your Tags sorted alphabetically or by Tag count</p>
		<p>Contacts: jump to the Contact view</p>
		<h3>Delete</h3>
		<p>You can delete any Contact, Event, Task or Tag.</p>
		<h3>Events</h3>
		<p>Events are calendar date items.  On the Events page, search, view, edit, create & delete calendar Events here with 5 filter options.  Reminders utilize Gmail's default settings.</p>
		<h3>Expand all</h3>
		<p>On the Show Me page, you can Expand every line of information.  You can always expand a specific line of information by clicking the arrow on the far right.</p>
		<h3>Orphans</h3>
		<p>Here is where you link your calendar Events, Tasks and Tags to each other and your Contacts.  Select a category of Orphans and you'll be directed to a screen where you can search for any item in Day Won to link together.  You can link any activity or object in Day Won to as many or few other activities as you want.  To get the maximum benefit of Day Won, keep your Orphan count down to zero.</p>
		<h3>Printing</h3>
		<p>On virtually any page, you can print whatever is on your screen.  As much as we all like to be environmentally friendly, sometimes “old school” paper comes in handy.</p>
		<h3>Settings</h3>
		<p>Sort by last name controls how your Contacts are sorted.</p>
		<p>Turn new user popups back on brings back the handy pointers displayed the first time you use Day Won.</p>
		<p>Always display note field for Contact keeps the note field visible for viewing or editing.</p>
		<p>Push contextual information into Web Mail provides you some of the Day Won linking benefits when you're using Gmail's Contacts, Calendar or Tasks.</p>
		<h3>Show</h3>
		<p>Show allows you to filter the information that is displayed.</p>
		<h3>Show Me</h3>
		<p>On this page you can display lists of your information in 280 different views by selecting various combinations of “Show,” “Sort by” and “Upcoming Schedule.”  You can toggle on & off all “Show” icons simultaneously.  But you can only “Sort by” one icon at a time.  Use “Upcoming Schedule” to filter your views over pre-fixed date ranges.  To manage the clutter on your screen, you can “Collapse all” or “Expand all” the lines of information that is displayed.</p>
		<h3>Sort by</h3>
		<p>On various object or activity views, you can sort the information that is displayed.</p>
		<h3>Syncing to Gmail</h3>
		<p>Day Won is always in sync with your Gmail account.  Your Contacts sync to Gmail Contacts, Events to Gmail Calendar & Tasks to Gmail Tasks.  Any changes or additions you make in Gmail will sync over to Day Won.  The Gmail Contact Groups get imported into Tags in Day Won.  Unfortunately, the links between your Day Won Contacts, Events, Tasks & Tags do not get synced with Gmail.  This is why we created Day Won because those objects are not connected in Gmail.</p>
		<h3>Tags</h3>
		<p>You don't have to use Tags to link objects.  Tags are just another way to quickly find related things.  On the Tags page, search, view, edit, create & delete Tags here with 2 sort options (alphabetically & by Tag count).  Contact groups from Gmail are imported into Day Won as Tags.</p>
		<h3>Tasks</h3>
		<p>Tasks are todo items.  On the Tasks page, search, view, edit, complete, create & delete Tasks here with 4 sort options.  You have the option of having a date for a Task but you don't have to have one.</p> 
    </div>
</div>