<div class="mobileCover" id="settingsCover"></div>
  <div id="appcont" class="settingspage viewcont" ng-controller="IndexController">
    <h1>Settings</h1>
    <div class="section-container" id="taskscont">
      <div class="row">
        <div id="settingsummary">
          <img ng-src="{{user.avatar || 'img/contacts.png'}}" id="settingimage"/>
          <div class="itemcounts">
            <div class="itemcount">
              <a ui-sref="contacts.index"><img src="img/contacts.png" /><p>{{contacts.length}}</p></a>
            </div>
            <div class="itemcount">
              <a ui-sref="events.index"><img src="img/events.png" /><p>{{FilteredEvents.length}}</p></a>
            </div>
            <div class="itemcount">
              <a ui-sref="tasks.index"><img src="img/tasks.png" /><p>{{tasks.length}}</p></a>
            </div>
            <div class="itemcount">
              <a ui-sref="tags.index"><img src="img/tags.png" /><p>{{tags.length}}</p></a>
            </div>
          </div>
        </div>
        <div id="settingmain">
          <div id="settingname">
            <h1>{{user.name}}</h1>
            <hr />
            <h3>{{user.email}}</h3>
          </div>
        </div>
        <div id="settingfooter">
          <div id="settingsMobile">
            <img src="img/tyler.png" id="settingimageMobile" />
            <h1>Tyler Carbone</h1>
            <h3>tyler@evenspring.com</h3>
            <div id="objectCount">
              <div class="itemcountMobile">
                <img src="img/contacts.png" /><p>{{contacts.length}}</p>
              </div>
              <div class="itemcountMobile">
                <img src="img/events.png" /><p>{{events.length}}</p>
              </div>
              <div class="itemcountMobile">
                <img src="img/tasks.png" /><p>{{tasks.length}}</p>
              </div>
              <div class="itemcountMobile">
                <img src="img/tags.png" /><p>{{tags.length}}</p>
              </div>
            </div>
            <div id="otheroptionsMobile">
              <a href="#">Delete Account</a>
              <a href="#">Terms of Agreement</a>
              <a href="#">Privacy Policy</a>
            </div>
          </div>
          <div class="settingoption">
            <input type="checkbox" name="toggle" id="toggle" ng-model="userSettings.sort_by_last_name" ng-change="saveSettings()">
            <label for="toggle"></label>
            <h5>Sort by last name</h5>
          </div>
          <div class="settingoption">
            <input type="checkbox" name="toggle2" id="toggle2" ng-model="userSettings.show_new_user_popups" ng-change="saveSettings()">
            <label for="toggle2"></label>
            <h5>Turn new user popups back on</h5>
          </div>
          <div class="settingoption">
            <input type="checkbox" name="toggle3" id="toggle3" ng-model="userSettings.display_contact_notes" ng-change="saveSettings()">
            <label for="toggle3"></label>
            <h5>Always display note field for Contact</h5>
          </div>
          <div class="settingoption">
            <input type="checkbox" name="toggle4" id="toggle4" ng-model="userSettings.receive_email" ng-change="saveSettings()">
            <label for="toggle4"></label>
            <h5>Opt-out of emails from Day Won</h5>
          </div>
          <div id="otheroptions">
            <a href="#" id="deleteaccount">Delete Account</a>
            <a href="javascript:void(0)" class="openModal4">Terms of Agreement</a>
            <a href="javascript:void(0)" class="openModal5">Privacy Policy</a>
          </div>
          <div id="helplinksMobile">
            <a href="javascript:void(0)" class="openModal2"><div><img src="img/help.png" id="helpimg" /><span>Help</span></div></a>
            <a href="javascript:void(0)" class="openModal"><div><img src="img/feedback.png" id="feedbackimg" /><span>Feedback</span></div></a>
            <a href="javascript:void(0)"><div><img src="img/share.png" id="socialimg" /><span id="shareDesktop">Tell Friends About Day Won</span><span id="shareMobile">Share</span></div></a>
          </div>
          <div class="sociallinks" id="socialLinksMobile">
            <a target="_blank" href="http://www.linkedin.com/company/Day-Won-LLC"><div class="linkedinIcon"></div></a>
            <a target="_blank" href="http://www.google.com/+DayWon"><div class="googleIcon"></div></a>
            <a target="_blank" href="http://www.twitter.com/DayWonApp"><div class="twitterIcon"></div></a>
            <a target="_blank" href="http://www.facebook.com/daywonapp"><div class="facebookIcon"></div></a>
          </div>
        </div>
      </div>
    </div>
  </div>