<div class="mobileCover" id="viewCover"></div>
<h1 id="viewHeader">View</h1>
<div class="row">
  <div class="viewButton">
    <a ui-sref="contacts.index"><div class="circlebg"><img src="img/contacts.png" /><p>Contacts</p></div>
  </a></div>
  <div class="viewButton">
    <a ui-sref="events.index"><div class="circlebg"><img src="img/events.png" /><p>Events</p></div></a>
  </div>
  <div class="viewButton">
    <a ui-sref="tasks.index"><div class="circlebg"><img src="img/tasks.png" /><p>Tasks</p></div></a>
  </div>
</div>
<div class="row">
  <div class="viewButton">
    <a ui-sref="tags.index"><div class="circlebg"><img src="img/tags.png" /><p>Tags</p></div></a>
  </div>
  <div class="viewButton">
    <a ui-sref="orphans"><div class="circlebg"><img src="img/orphans.png" /><p>Orphans</p></div></a>
  </div>
  <div class="viewButton">
    <a ui-sref="calendar"><div class="circlebg"><img src="img/calendar.png" /><p>Calendar</p></div></a>
  </div>
</div>