<div class="col-md-7 mobileIn" id="eventpanel2">
  <h1 id="mobileContact" class="eventDetailHeader">Events</h1>
  <img src="img/arrow.png" class="backArrow" />
  <h2 id="contactname" class="eventname">
    <span editable-text="event.title" onaftersave="saveEvent()">
      {{event.title || 'No title'}}
    </span>
    <span class="hidden">{{event.id}}</span>
  </h2>
  <div id="detailmenubar">
    <img src="img/contacts.png" />
    <img src="img/events.png" class="selected" />
    <img src="img/tasks.png" />
    <img src="img/tags.png" /> 
    <a href="javascript:void(0)"><img src="img/create.png" class="addEvent" ng-click="create('event')"/></a>
    <img src="img/trash.png" ng-click="deleteEvent(event)"/>
    <button id="destroy">{{event.id}}</button>
  </div>
  <div class="panelcontent" id="eventscontent">                
    
    <div class="infopanel">
      <form id="addForm">
        <div class="formrow">Add contacts: <br />
          <input type="text" ng-model="selectedContact" placeholder="Type to select contact" typeahead="contact as contact.name for contact in contacts | filter:{name:$viewValue}" typeahead-on-select="onSelect($item, $model, $label); selectedContact = undefined;" class="form-control">
        </div>
      </form>
      <div ng-repeat="contact in event.contacts">      
        <div class="contactrow personrow">
          <a ui-sref="contacts.contact({contact_id:contact.id})"><img src="img/contacts.png" class="contactIcon">
          <h4>{{getContactTitle(contact)}}</h4><span class="hidden">{{contact.id}}</span></a><img src="img/close.png" ng-click="removeContact(contact)" class="removeAssoc" />        
        </div>
      </div>
      <div class="contactrow personrow" ng-if="event.contacts.length==0">
        <h4><i>No associated contacts</i></h4> 
      </div>
    </div>

    <div class="infopanel selected">
      <div>
        <b>Description: </b>
          <span editable-text="event.description" onaftersave="saveEvent()">
            {{event.description || 'No description'}}
          </span>
        <br />
      </div>
      <div>
        <b>Location: </b>
          <span editable-text="event.location" onaftersave="saveEvent()">
            {{event.location || 'No location'}}
          </span>
        <br />
      </div>
      
      <div>
        <div class="col-md-6">
          <b>Event Start: </b>
          <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="eventDates.startDate" is-open="startDateOpened" datepicker-options="dateOptions" close-text="Close"  ng-change="eventDatesChanged()"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event, 'start')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
        <div class="col-md-6 timepickerUI" ng-hide="newEvent.is_all_day">
          <timepicker ng-model="eventDates.startDate" minute-step="15" show-meridian="true" ng-change="eventDatesChanged()"></timepicker>
        </div>
        <br />
      </div>

      <div>
        <div class="col-md-6">
          <b>Event End: </b>
          <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="eventDates.endDate" is-open="endDateOpened" datepicker-options="dateOptions" close-text="Close"  ng-change="eventDatesChanged()"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event, 'end')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
        <div class="col-md-6 timepickerUI" ng-hide="newEvent.is_all_day">
          <timepicker ng-model="eventDates.endDate" minute-step="15" show-meridian="true" ng-change="eventDatesChanged()"></timepicker>
        </div>
        <br />
      </div>
      <b>Recurring: </b>
        <span editable-select="event.recurring" e-ng-options="recur.value as recur.description for recur in recurrenceValues" onaftersave="saveEvent()">
          {{recurrenceTitle(event.recurring)}}
        </span>
        <br />
    </div>

    <div class="infopanel">
      <form id="addForm">
        <div class="formrow">Add tasks: <br />
          <input type="text" ng-model="selectedTask" placeholder="Type to select task" typeahead="task as task.title for task in tasks | filter:{title:$viewValue}" typeahead-on-select="onSelect($item, $model, $label); selectedTask = undefined;" class="form-control">
        </div>
      </form>
      <div ng-repeat="task in event.tasks">
        <div class="contactrow taskrow">
          <a ui-sref="tasks.task({task_id:task.id})"><img src="img/tasks.png" class="taskIcon">
          <h4>{{task.title}}</h4><span class="hidden">{{task.id}}</span></a><img src="img/close.png" ng-click="removeTask(task)" class="removeAssoc" />
        </div>
      </div>
      <div class="contactrow taskrow" ng-if="event.tasks.length==0">
        <h4><i>No associated tasks</i></h4> 
      </div>
    </div>

    <div class="infopanel">
        <form id="addForm">
          <div class="formrow">Add tags: <br />
            <input type="text" ng-model="selectedTag" placeholder="Type to select tag" typeahead="tag as tag.name for tag in tags | filter:{name:$viewValue}" typeahead-on-select="onSelect($item, $model, $label); selectedTag = undefined;" class="form-control">
          </div>
        </form>
        <div ng-repeat="tag in event.tags">
          <div class="contactrow tagrow">
            <a ui-sref="tags.tag({tag_id:tag.id})"><img src="img/tags.png" class="tagIcon">
            <h4>{{tag.name}}</h4><span class="hidden">{{tag.id}}</span></a><img src="img/close.png" ng-click="removeTag(tag)" class="removeAssoc" />
          </div>
        </div>
        <div class="contactrow tagrow" ng-if="event.tags.length==0">
          <h4><i>No associated tags</i></h4> 
        </div>
    </div>
  </div>
</div>

<div id="detailPanel" class="panelIn">
  <div class="row">
    <div class="col-md-4 dCol" id="dCol1">
      <div>
        <h1 id="contactname" class="eventname">
          <span editable-text="event.title" onaftersave="saveEvent()">
            {{event.title || 'No title'}}
          </span>
        </h1>
        <h4>
          <span editable-text="event.description" onaftersave="saveEvent()">
            {{event.description || 'No description'}}
          </span>
        </h4>
        <div id="relatedTags" ng-if="event.tags.length > 0">
          <div class="relatedItem" ng-repeat="tag in event.tags">
            <a ui-sref="tags.tag({tag_id:tag.id})"><img src="img/tags.png" class="relatedImage"/>
            <span class="relatedName">{{tag.name}}</span></a>
          </div>
        </div>
        <a href="javascript:void(0)"><img src="img/create.png" class="detailCreate" ng-click="create('event')"/></a>
        <img class="detailTrash" src="img/trash.png" ng-click="deleteEvent(event)"/>
      </div>
      <img class="columnDivider" src="img/divider_orange.png" />
    </div>
    <div class="col-md-4 dCol" id="dCol2">
      <div>
        <div class="columnhead">
          <img src="img/contacts.png" />
          <h3>Contacts</h3>
        </div>
        <br />
        <ul class="columnlist">
          <div ng-repeat="contact in event.contacts">
            <li>
              <a ui-sref="contacts.contact({contact_id:contact.id})">{{getContactTitle(contact)}}</a>
            </li>
          </div>
          <div ng-if="event.contacts.length==0">
            <li><i>No associated contacts</i></li>
          </div>
        </ul>
      </div>
      <img class="columnDivider" src="img/divider_orange.png" />
    </div>
    <div class="col-md-4 dCol" id="dCol3">
      <div>
        <div class="columnhead">
          <img src="img/tasks.png" />
          <h3>Tasks</h3>
        </div>
        <br />
        <div class="detailSection">
          <div class="detailTitle">Open<img src="img/arrow_black.png" class="accordionarrow detailArrow arrowdown" ng-click="showOpenTasks=!showOpenTasks"></div>
          <ul class="columnlist" ng-show="showOpenTasks">
            <div ng-repeat="task in event.tasks | openTasks">
              <li><a ui-sref="tasks.task({task_id:task.id})">{{task.title}}</a></li>
            </div>
            <li ng-if="(event.tasks | openTasks).length==0"><i>No open tasks</i></li>
          </ul>
        </div>
        <div class="detailSection">
          <div class="detailTitle">History<img src="img/arrow_black.png" class="accordionarrow detailArrow arrowdown" ng-click="showClosedTasks=!showClosedtasks"></div>
          <ul class="columnlist" ng-show="showClosedTasks">
            <div ng-repeat="task in event.tasks | closedTasks">
              <li><a ui-sref="tasks.task({task_id:task.id})">{{task.title}}</a></li>
            </div>
            <li ng-if="(event.tasks | closedTasks).length==0"><i>No closed tasks</i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="detailPanelHider"></div>
<div class="col-md-1 flipswitch fsorange">
  <img src="img/fliparrow_orange.png" id="fliparrow"/>
</div>