<div class="mobileCover" id="eventsCover"></div>
  <div id="appcont" class="viewcont" ng-controller="EventsController as allEvents">
    <div class="section-container" id="taskscont">
      <div class="row">
        <div class="col-md-4" id="taskpane1">
          <img src="img/events.png" / class="contactpadding">
          <h1 class="contactpadding">Events (##)</h1>
          <form method="get" action="/search" class="search contactpadding" id="contactsearch">
            <input name="q" type="text" size="40" placeholder="Search..." id="typeAheadJustEvents">
          </form>
          <div class="filtercolumn contactpadding">
            <h4>Show:</h4>
            <div class="contsort">
					  <select>
              <option>Show Options</option>
              <option>Show Options</option>
              <option>Show Options</option>
            </select>
            </div>
          </div>
          <ul id="eventlist" class="sidelist">
            <a href="event.html" ng-repeat="event in allEvents.events"><li>{{event.title}}</li></a>
          </ul>
        </div>
        <!--OUTLET-->
        <div class="col-md-7" id="eventpanel2">
          <h1 id="mobileContact" class="eventDetailHeader">Events</h1>
          <img src="img/arrow.png" class="backArrow" />
          <h2 id="contactname" class="eventname"><b>Select an event</b></h2>
          <div id="detailmenubar">
            <img src="img/contacts.png" />
            <img src="img/events.png" class="selected" />
            <img src="img/tasks.png" />
            <img src="img/tags.png" /> 
            <a href="javascript:void(0)" class="openModal3"><img src="img/create.png" id="createicon" class="addEvent" /></a>
            <img src="img/trash.png" id="trashicon"/>              
          </div>
          <div class="panelcontent" id="eventscontent">              
            <div class="infopanel">
            </div>
            <div class="infopanel">
            </div>
            <div class="infopanel selected">
            </div>
            <div class="infopanel">
            </div>
          </div>
        </div>
        <!--/OUTLET-->
      </div>
    </div>
  </div>