<div class="mobileCover" id="eventsCover"></div>
  <div id="appcont" class="viewcont" ng-controller="EventsController as allEvents">
    <div class="section-container" id="taskscont">
      <div class="row">
        <div class="col-md-4" id="taskpane1">
          <img src="img/events.png" / class="contactpadding">
          <h1 class="contactpadding">Events (##)</h1>
          <form method="get" action="/search" class="search contactpadding" id="contactsearch">
            <input name="q" type="text" size="40" placeholder="Search..." id="typeAheadJustEvents">
          </form>
          <div class="filtercolumn contactpadding">
            <h4>Show:</h4>
            <div class="contsort">
					  <select>
              <option>Show Options</option>
              <option>Show Options</option>
              <option>Show Options</option>
            </select>
            </div>
          </div>
          <ul id="eventlist" class="sidelist">
            <div ng-repeat="event in events">
              <a ui-sref="events.event({event_id: event.id})"><li>{{event.title}}</li></a>
            </div>
          </ul>
        </div>
        <!--OUTLET-->
        <div ui-view></div>
        <!--/OUTLET-->
      </div>
    </div>
  </div>