<div class="col-md-7" id="eventpanel2">
  <h1 id="mobileContact" class="eventDetailHeader">Events</h1>
  <img src="img/arrow.png" class="backArrow">
  <h2 id="contactname" class="eventname"><b>Select an event</b></h2>
  <div id="detailmenubar">
    <img src="img/contacts.png">
    <img src="img/events.png" class="selected">
    <img src="img/tasks.png">
    <img src="img/tags.png"> 
      <a href="javascript:void(0)"><img src="img/create.png" class="addEvent" ng-click="create()"/></a>
    <img src="img/trash.png" id="trashicon">              
  </div>
  <div class="panelcontent" id="eventscontent">              
    <div class="infopanel">
    </div>
    <div class="infopanel">
    </div>
    <div class="infopanel selected">
    </div>
    <div class="infopanel">
    </div>
  </div>
</div>