<!--OUTLET-->

<div class="col-md-7" id="tagpanel2">
  <h1 id="mobileContact" class="tagDetailHeader">Tags</h1>
  <img src="img/arrow.png" class="backArrow" />
  <h2 id="contactname" class="tagname">Select a tag</h2>
  <div id="detailmenubar">
    <img src="img/contacts.png" />
    <img src="img/events.png" />
    <img src="img/tasks.png" />
    <img src="img/tags.png" class="selected" />   
    <a href="javascript:void(0)"><img src="img/create.png" class="addTag" ng-click="create('tag')"/></a>             
  </div>
  <div class="panelcontent" id="tagscontent">
    <div class="infopanel">
    </div>
    <div class="infopanel">
    </div>
    <div class="infopanel">
    </div>
    <div class="infopanel selected">
    </div>
  </div>
</div>
<!--/OUTLET-->