<div class="col-md-7 mobileIn" id="tagpanel2">
  <h1 id="mobileContact" class="tagDetailHeader">Tags</h1>
  <img src="img/arrow.png" class="backArrow" />
	<h2 id="contactname" class="tagname">
    Name
    <span class="hidden">{{id}}</span>
  </h2>
  <div id="detailmenubar">
    <img src="img/contacts.png" />
    <img src="img/events.png" />
    <img src="img/tasks.png" />
    <img src="img/tags.png" class="selected" />   
    <a href="javascript:void(0)" class="openModal3"><img src="img/create.png" id="createicon" class="addTag" /></a>
    <img src="img/trash.png" id="trashicon"/>    
    <button id="destroy">{{id}}</button>
  </div>
  <div class="panelcontent" id="tagscontent">
    <div class="infopanel">
      <form id="addForm">
        <div class="formrow">Add contacts: <br />
          <input id="typeAheadAddContact" />
        </div>
      </form>
      <div class="contactrow personrow">
        <a href="contact.html"><img src="img/contacts.png" class="contactIcon">
        <h4>Contact Name</h4><span class="hidden">{{contact.id}}</span></a><img src="img/close.png" class="removeAssoc" />
      </div>
    </div>
    <div class="infopanel">
      <form id="addForm">
        <div class="formrow">Add events: <br />
          <input id="typeAheadAddEvent" />
        </div>
      </form>
      <div class="contactrow eventrow">
        <a href="event.html"><img src="img/events.png" class="eventIcon">
        <h4>Event Title</h4><span class="hidden">{{event.id}}</span></a><img src="img/close.png" class="removeAssoc" />
      </div>
    </div>
    <div class="infopanel">
      <form id="addForm">
        <div class="formrow">Add tasks: <br />
          <input id="typeAheadAddTask" />
        </div>
      </form>
      <div class="contactrow taskrow">
        <a href="task.html"><img src="img/tasks.png" class="taskIcon">
        <h4>Task Title</h4><span class="hidden">{{task.id}}</span></a><img src="img/close.png" class="removeAssoc" />
      </div>
    </div>
    <div class="infopanel selected">                      
      <h5>Count: #</h5>
    </div>
  </div>
</div>
<div id="detailPanel" class="panelIn">
  <div class="row">
    <div class="col-md-4 dCol" id="dCol1">
      <div>
        <h1 id="contactname" class="tagname">
            Name
            <span class="hidden">{{id}}</span>
        </h1>
        <div class="contactgroup relatedObjects taggedObjects">
          <div class="contactitem">
            <img src="img/contacts.png" />
            <span>(#)</span>
          </div>
          <div class="contactitem">
            <img src="img/events.png" />
            <span>(#)</span>
          </div>
          <div class="contactitem">
            <img src="img/tasks.png" />
            <span>(#)</span>
          </div>
        </div>
        <a href="javascript:void(0)" class="openModal3"><img src="img/create.png" class="detailCreate" /></a>
        <img id="detailTrash" src="img/trash.png" />
      </div>
      <img class="columnDivider" src="img/divider_yellow.png" />
    </div>
    <div class="col-md-4 dCol" id="dCol2">
      <div>
        <div class="columnhead">
          <img src="img/events.png" />
          <h3>Events</h3>
        </div>
        <br />
        <div class="detailSection">
          <div class="detailTitle">Open<img src="img/arrow_black.png" class="accordionarrow detailArrow arrowdown"></div>
          <ul class="columnlist">
            <li><a href="event.html">Event Title</a></li>
          </ul>
        </div>
        <div class="detailSection">
          <div class="detailTitle">History<img src="img/arrow_black.png" class="accordionarrow detailArrow arrowdown"></div>
          <ul class="columnlist">
            <li><a href="event.html">Event Title</a></li>
          </ul>
        </div>
      </div>
      <img class="columnDivider" src="img/divider_yellow.png" />       
    </div>
    <div class="col-md-4 dCol" id="dCol3">
      <div>
        <div class="columnhead">
          <img src="img/contacts.png" />
          <h3>Contacts</h3>
        </div>
        <br />
        <ul class="columnlist">
          <li><a href="contact.html">Contact Name</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="detailPanelHider"></div>
<div class="col-md-1 flipswitch fsyellow">
  <img src="img/fliparrow_yellow.png" id="fliparrow"/>
</div>