<div class="col-md-7 mobileIn" id="tagpanel2">
  <h1 id="mobileContact" class="tagDetailHeader">Tags</h1>
  <img src="img/arrow.png" class="backArrow" />
	<h2 id="contactname" class="tagname">
    <span editable-text="tag.name" onaftersave="saveTag()">
      {{tag.name || 'No name'}}
    </span>
    <span class="hidden">{{tag.id}}</span>
  </h2>
  <div id="detailmenubar">
    <img src="img/contacts.png" />
    <img src="img/events.png" />
    <img src="img/tasks.png" />
    <img src="img/tags.png" class="selected" />   
    <a href="javascript:void(0)"><img src="img/create.png" class="createicon addTag" ng-click="create('tag')" /></a>
        <img src="img/trash.png" class="trashicon" />
        <div class="deleteButton"></div> <!-- Works via a jquery event, bound on line 58 of TagsModule.js"-->
  </div>
  <div class="panelcontent" id="tagscontent">
    <div class="infopanel">
      <form id="addForm">
        <div class="formrow typeaheadAssociated">Add contacts: <br />
          <input type="text" ng-model="selectedContact" placeholder="Type to select contact" typeahead="contact as contact.name for contact in contacts | filter:{name:$viewValue} | tagTypeaheadFilter:'contacts':tag" typeahead-template-url="templates/createAssociateTemplate.html" typeahead-on-select="onSelect($item, $model, $label); selectedContact = undefined;" class="form-control">
        </div>
      </form>
      <div ng-repeat="contact in TagContacts | orderBy: ['name', 'emails[0].email', 'id']">
        <div class="contactrow personrow">
          <a ui-sref="contacts.contact({contact_id:contact.id})"><img src="img/contacts.png" class="contactIcon">
          <h4>{{getContactTitle(contact)}}</h4><span class="hidden">{{contact.id}}</span></a><img src="img/close.png" ng-click="removeContact(contact)" class="removeAssoc" />
        </div>
      </div>
      <div class="contactrow personrow" ng-if="TagContacts.length == 0">
        <h4><i>No associated contacts</i></h4>
      </div>
    </div>
    <div class="infopanel">
      <form id="addForm">
        <div class="formrow typeaheadAssociated">Add events: <br />
          <input type="text" ng-model="selectedEvent" placeholder="Type to select event" typeahead="event as event.title for event in FilteredEvents | filter:{title:$viewValue} | tagTypeaheadFilter:'events':tag" typeahead-template-url="templates/createAssociateTemplate.html" typeahead-on-select="onSelect($item, $model, $label); selectedEvent = undefined;" class="form-control">
        </div>
      </form>
      <div ng-repeat="event in tag.events">
        <div class="contactrow eventrow">
          <a ui-sref="events.event({event_id:event.id})"><img src="img/events.png" class="eventIcon">
          <h4>{{event.title}}</h4><span class="hidden">{{event.id}}</span></a><img src="img/close.png" ng-click="removeEvent(event)" class="removeAssoc" />
        </div>
      </div>
      <div class="contactrow eventrow" ng-if="tag.events.length == 0">
        <h4><i>No associated events</i></h4>
      </div>
    </div>
    <div class="infopanel">
      <form id="addForm">
        <div class="formrow typeaheadAssociated">Add tasks: <br />
          <input type="text" ng-model="selectedTask" placeholder="Type to select task" typeahead="task as task.title for task in tasks | filter:{title:$viewValue} | tagTypeaheadFilter:'contacts':tasks" typeahead-template-url="templates/createAssociateTemplate.html" typeahead-on-select="onSelect($item, $model, $label); selectedTask = undefined;" class="form-control">
        </div>
      </form>
      <div ng-repeat="task in tag.tasks">
        <div class="contactrow taskrow">
          <a ui-sref="tasks.task({task_id:task.id})"><img src="img/tasks.png" class="taskIcon">
          <h4>{{task.title}}</h4><span class="hidden">{{task.id}}</span></a><img src="img/close.png" ng-click="removeTask(task)" class="removeAssoc" />
        </div>
      </div>
      <div class="contactrow taskrow" ng-if="tag.tasks.length == 0">
        <h4><i>No associated tasks</i></h4>
      </div>
    </div>
    <div class="infopanel selected">                      
      <h5>Count: {{tag.count}}</h5>
    </div>
  </div>
</div>

<div id="detailPanel" class="panelIn">
  <div class="row">
    <div class="col-md-4 dCol" id="dCol1">
      <div>
        <h1 id="contactname" class="tagname">
          <span editable-text="tag.name" onaftersave="saveTag()">
            {{tag.name || 'No name'}}
          </span>
          <span class="hidden">{{id}}</span>
        </h1>
        <div class="contactgroup relatedObjects taggedObjects">
          <div class="contactitem">
            <img src="img/contacts.png" />
            <span>({{TagContacts.length}})</span>
          </div>
          <div class="contactitem">
            <img src="img/events.png" />
            <span>({{tag.events.length}})</span>
          </div>
          <div class="contactitem">
            <img src="img/tasks.png" />
            <span>({{tag.tasks.length}})</span>
          </div>
        </div>
        <a href="javascript:void(0)"><img src="img/create.png" class="detailCreate" ng-click="create('tag')" /></a>
        <img src="img/trash.png" class="trashicon" />
        <div class="deleteButton"></div> <!-- Works via a jquery event, bound on line 58 of TagsModule.js"-->
      </div>
      <img class="columnDivider" src="img/divider_yellow.png" />
    </div>
      <div class="col-md-4 dCol" id="dCol2">
        <div>
          <div class="columnhead">
            <img src="img/contacts.png" />
            <h3>Events</h3>
          </div>
          <br />
          <div class="detailSection">
            <div class="detailTitle">Open<img src="img/arrow_black.png" class="accordionarrow detailArrow arrowdown" ng-click="showOpenEvents=!showOpenEvents"></div>
            <ul class="columnlist" ng-show="showOpenEvents" >
              <div ng-repeat="event in tag.events | openEvents:events">
                <li><a ui-sref="events.event({event_id:event.id})">{{event.title}}</a></li>
              </div>
              <li ng-if="(tag.events | openEvents:events).length==0"><i>No upcoming events</i></li>
            </ul>
          </div>
          <div class="detailSection">
            <div class="detailTitle">History<img src="img/arrow_black.png" class="accordionarrow detailArrow arrowdown" ng-click="showClosedEvents=!showClosedEvents"></div>
            <ul class="columnlist" ng-show="showClosedEvents">
              <div ng-repeat="event in tag.events | closedEvents:events">
                <li><a ui-sref="events.event({event_id:event.id})">{{event.title}}</a></li>
              </div>
              <li ng-if="(tag.events | closedEvents:events).length==0"><i>No past events</i></li>
            </ul>
          </div>
        </div>
        <img class="columnDivider" src="img/divider_yellow.png" />
      </div>
    <div class="col-md-4 dCol" id="dCol3">
      <div>
        <div class="columnhead">
          <img src="img/contacts.png" />
          <h3>Contacts</h3>
        </div>
        <br />
        <ul class="columnlist">
          <div ng-repeat="contact in TagContacts | orderBy: ['name', 'emails[0].email', 'id']">
            <li><a ui-sref="contacts.contact({contact_id:contact.id})">{{getContactTitle(contact)}}</a></li>
          </div>
          <li ng-if="TagContacts.length == 0"><i>No associated contacts</i></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="detailPanelHider"></div>
<div class="col-md-1 flipswitch fsyellow">
  <img src="img/fliparrow_yellow.png" id="fliparrow"/>
</div>