<div class="col-md-7 mobileIn" id="tagpanel2">
  <h1 id="mobileContact" class="tagDetailHeader">Tags</h1>
  <img src="img/arrow.png" class="backArrow" />
	        <h2 id="contactname" class="tagname" {{action "editField" "name" on="doubleClick"}}>
  {{#if editing.name}}
	          {{input class="editField" id="nameInput" type="text" value=name focus-out="save" insert-newline="save"}}
	        {{else}}
	          {{name}}
    <span class="hidden">{{id}}</span>
	        {{/if}}
  </h2>
  <div id="detailmenubar">
    <img src="img/contacts.png" />
    <img src="img/events.png" />
    <img src="img/tasks.png" />
    <img src="img/tags.png" class="selected" />   
    <a href="javascript:void(0)" class="openModal3"><img src="img/create.png" id="createicon" class="addTag" /></a>
    <img src="img/trash.png" id="trashicon"/>    
    <button {{action "deleteRecord"}} id="destroy">{{id}}</button>
  </div>
  <div class="panelcontent" id="tagscontent">
    <div class="infopanel">
      <form id="addForm">
        <div class="formrow">Add contacts: <br />
          <input id="typeAheadAddContact" />
        </div>
      </form>
      {{#each contact in contacts}}
        <div class="contactrow personrow">
          {{#link-to 'contacts.contact' contact}}<img src="img/contacts.png" class="contactIcon">
          <h4>{{contact.name}}</h4><span class="hidden">{{contact.id}}</span>{{/link-to}}<img src="img/close.png" class="removeAssoc" />
        </div>
      {{/each}}
    </div>
    <div class="infopanel">
      <form id="addForm">
        <div class="formrow">Add events: <br />
          <input id="typeAheadAddEvent" />
        </div>
      </form>
      {{#each event in events}}
        <div class="contactrow eventrow">
          {{#link-to 'events.event' event}}<img src="img/events.png" class="eventIcon">
          <h4>{{event.title}}</h4><span class="hidden">{{event.id}}</span>{{/link-to}}<img src="img/close.png" class="removeAssoc" />
        </div>
      {{/each}}
    </div>
    <div class="infopanel">
      <form id="addForm">
        <div class="formrow">Add tasks: <br />
          <input id="typeAheadAddTask" />
        </div>
      </form>
      {{#each task in tasks}}
        <div class="contactrow taskrow">
          {{#link-to 'tasks.task' task}}<img src="img/tasks.png" class="taskIcon">
          <h4>{{task.title}}</h4><span class="hidden">{{task.id}}</span>{{/link-to}}<img src="img/close.png" class="removeAssoc" />
        </div>
      {{/each}}
    </div>
    <div class="infopanel selected">                      
      <h5>Count: {{count}}</h5>
    </div>
  </div>
</div>
<div id="detailPanel" class="panelIn">
  <div class="row">
    <div class="col-md-4 dCol" id="dCol1">
      <div>
        <h1 id="contactname" class="tagname" {{action "editField" "name" "2" on="doubleClick"}}>
          {{#if editing.name}}
            {{input class="editField" id="nameInput2" type="text" value=name focus-out="save" insert-newline="save"}}
          {{else}}
            {{name}}
            <span class="hidden">{{id}}</span>
          {{/if}}
        </h1>
        <div class="contactgroup relatedObjects taggedObjects">
          <div class="contactitem">
            <img src="img/contacts.png" />
            <span>({{contactsCount}})</span>
          </div>
          <div class="contactitem">
            <img src="img/events.png" />
            <span>({{eventsCount}})</span>
          </div>
          <div class="contactitem">
            <img src="img/tasks.png" />
            <span>({{tasksCount}})</span>
          </div>
        </div>
        <a href="javascript:void(0)" class="openModal3"><img src="img/create.png" class="detailCreate" /></a>
        <img id="detailTrash" src="img/trash.png" />
      </div>
      <img class="columnDivider" src="img/divider_yellow.png" />
    </div>
    <div class="col-md-4 dCol" id="dCol2">
      <div>
        <div class="columnhead">
          <img src="img/events.png" />
          <h3>Events</h3>
        </div>
        <br />
        <div class="detailSection">
          <div class="detailTitle">Open<img src="img/arrow_black.png" class="accordionarrow detailArrow arrowdown"></div>
          <ul class="columnlist">
            {{#each event in events}}
              {{#if event.title}}
                <li>{{#link-to 'events.event' event}}{{event.title}}{{/link-to}}</li>
              {{/if}}
            {{else}}
              <li>N/A</li>
            {{/each}}
          </ul>
        </div>
        <div class="detailSection">
          <div class="detailTitle">History<img src="img/arrow_black.png" class="accordionarrow detailArrow arrowdown"></div>
          <ul class="columnlist">
            {{#each event in events}}
              {{#if event.title}}
                <li>{{#link-to 'events.event' event}}{{event.title}}{{/link-to}}</li>
              {{/if}}
            {{else}}
              <li>N/A</li>
            {{/each}}
          </ul>
        </div>
      </div>
      <img class="columnDivider" src="img/divider_yellow.png" />       
    </div>
    <div class="col-md-4 dCol" id="dCol3">
      <div>
        <div class="columnhead">
          <img src="img/contacts.png" />
          <h3>Contacts</h3>
        </div>
        <br />
        <ul class="columnlist">
          {{#each contact in contacts}}
            {{#if contact.name}}
              <li>{{#link-to 'contacts.contact' contact}}{{contact.name}}{{/link-to}}</li>
            {{/if}}
          {{else}}
            <li>N/A</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="detailPanelHider"></div>
<div class="col-md-1 flipswitch fsyellow">
  <img src="img/fliparrow_yellow.png" id="fliparrow"/>
</div>