<div class="mobileCover" id="tagsCover"></div>
  <div id="appcont" class="viewcont" ng-controller="TagsController as allTags">
    <div class="section-container" id="taskscont">
      <div class="row">
        <div class="col-md-4" id="taskpane1">
          <img src="img/tags.png" / class="contactpadding">
          <h1 class="contactpadding tagHeader">Tags (##)</h1>
          <form method="get" action="/search" class="search contactpadding" id="contactsearch">
            <input name="q" type="text" size="40" placeholder="Search..." id="typeAheadJustTags">
          </form>
          <div class="filtercolumn contactpadding">
            <h4>Show:</h4>
            <div class="contsort">
              <select>
                <option>Sort Option</option>
                <option>Sort Option</option>
                <option>Sort Option</option>
              </select>
            </div>
          </div>
          <ul id="taglist" class="sidelist">
            <div ng-repeat="tag in tags">
              <a ui-sref="tags.tag( {tag_id : tag.id} )" ng-click="selectTag()"><li>{{tag.name}} ({{tag.count}})</li></a>
            </div>
          </ul>
        </div>

        <div ui-view></div>

      </div>
    </div>
  </div>