<div class="mobileCover" id="eventsCover"></div>
<div id="appcont" class="viewcont">
  <div class="section-container dashboardContainer" id="taskscont">
    <div class="row">
      <p class="descriptionText">This page provides you a quick overview & access to your relavent Contacts, Calendar Events & Tasks from Gmail.</p>
      <div class="col-md-4 dashboardHeading" id="taskpane1">
        <img src="img/dashboard.png" / class="contactpadding">
        <h1 class="contactpadding dashHeading">Dashboard</h1>
        <a href="javascript:void(0)"><img src="img/create.png" id="createicon" class="addContact" ng-click="create()" /></a>
        <ul id="eventlist" class="sidelist dashList">
          <li class="currentcontact"><span>Recent Activities (last 10 edited)</span></li>
          <li><span>Tasks</span></li>
          <li><span>Events (next 7 days)</span></li>
          <li><span>Tags</span></li>
          <a ui-sref="contacts"><li>Contacts</li></a>
        </ul>
      </div>
      <div class="col-md-7 sidelist dashRecent" id="eventpanel2">
        <h1 id="mobileContact" class="eventDetailHeader">Dashboard</h1>
        <img src="img/arrow.png" class="backArrow" />
        <h2 id="contactname" class="taskname orphantitle">Recent Activities (last 10 edited)</h2>
        <div id="dashboardSorting">
          <div id="taskSorting" class="dashboardSorter">
            <div class="sortcont sortcont2">
              <h4 class="beforeDropdown">Show: </h4>
              <select>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
            <div class="sortcont sortcont3 sortcontTasks">
              <h4 class="beforeDropdown">Sort by: </h4>
              <select>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
          </div>
          <div id="tagSorting" class="dashboardSorter">
          <div class="sortcont sortcont3 sortcontTags">
            <h4 class="beforeDropdown">Sort by: </h4>
              <select>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
          </div>
          </div>
        </div>
        <div class="panelcontent dashContent" id="eventscontent">              
          <div class="infopanel selected">
              <div class="subitem subdash ss2" ng-repeat="object in totalObjects | orderBy : IndexSort">
                  <a href="contacts/contact.html" ng-if="object.type == 'contact' ">
                    <img class="subicon" src="img/contacts.png" />
                    <span class="subitemtext subdashtext" ng-if="object.name != null">{{object.name}}</span>
                    <span class="subitemtext subdashtext" ng-if="object.emails != null">{{object.emails[0].email}}</span>
                  </a>
                  <!--<a href="events/event.html">
                    <img class="subicon" src="img/events.png" />
                    <span class="subitemtext subdashtext">Item Title</span>
                  </a>
                  <a href="tasks/task.html">
                    <img class="subicon" src="img/tasks.png" />
                    <span class="subitemtext subdashtext">Item Title</span>
                  </a>
                  <a href="tags/tag">
                    <img class="subicon" src="img/tags.png" />
                    <span class="subitemtext subdashtext">Item Name</span>
                  </a>-->
              </div>
          </div>
          <div class="infopanel">
            <a href="tasks/task">
              <div class="subitem subdash" ng-repeat="task in tasks">
                <img class="subicon" src="img/tasks.png" />
                <span class="subitemtext subdashtext">{{task.title}}</span>
              </div>
            </a>
          </div>
          <div class="infopanel">
            <div class="daySeparator">
              <h3>Today</h3>
              <a href="events/event" ng-repeat="event in events"><li><span>{{event.title}}</span></li></a>
            </div>
            <div class="daySeparator">
              <h3>Tomorrow</h3>
              <a href="events/event"><li><span>Event Name</span></li></a>
            </div>
            <div class="daySeparator">
              <h3>Day 2</h3>
              <a href="events/event"><li><span>Event Name</span></li></a>
            </div>
            <div class="daySeparator">
              <h3>Day 3</h3>
              <a href="events/event"><li><span>Event Name</span></li></a>
            </div>
            <div class="daySeparator">
              <h3>Day 4</h3>
              <a href="events/event"><li><span>Event Name</span></li></a>
            </div>
            <div class="daySeparator">
              <h3>Day 5</h3>
              <a href="events/event"><li><span>Event Name</span></li></a>
            </div>
            <div class="daySeparator">
              <h3>Day 6</h3>
              <a href="events/event"><li><span>Event Name</span></li></a>
            </div>
          </div>
          <div class="infopanel">
            <a href="tags/tag" ng-repeat="tag in tags">
              <div class="subitem subdash">
                <img class="subicon" src="img/tags.png" />
                <span class="subitemtext subdashtext">{{tag.name}}</span>          
              </div>
            </a>
            <div class="subitem subdash">
              <span class="subitemtext subdashtext">No Tags</span>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>