<div class="mobileCover" id="createEventCover"></div>
<div class="createContainer newEvent">
  <h2 id="createHeader">Create Event</h2>
  <div class="createEvent createForm createMobile">
    <form>
      <div class="formrow">Event title: <input type="text" id="eventName"></div>
      <div class="formrow">Event description: <input type="text" id="eventDetails"></div>
      <div class="formrow">Event location: <input type="text" id="eventLocation"></div>
      <div class="formrow">
        Start date: <input type="datetime-local" id="eventStart">
      </div>
      <div class="formrow">
        End date: <input type="datetime-local" id="eventEnd">
      </div>
      <div class="formrow"><input type="submit"></div>
    </form>
  </div>
</div>