<div class="mobileCover" id="createContactCover"></div>
<div class="createContainer newContact">
  <h2 id="createHeader">Create Contact</h2>
  <div class="createContact createForm createMobile">
    <form>
      <div class="formrow">First name: <input type="text" id="contactFirst"></div>
      <div class="formrow">Last name: <input type="text" id="contactLast"></div>
      <div class="formrow">Contact email: <input type="text" id="contactPlace"></div>
      <div class="formrow">Contact company: <input type="text" id="contactOrg"></div>
      <div class="formrow">Contact phone number: <input type="text" id="contactNumber"></div>
      <div class="formrow">Contact address: <input type="text" id="contactAddr"></div>
      <div class="formrow">Connect related items: <br /><input id="typeAheadContact" />
      </div>
      <div class="formrow">
        Selected Items:
        <div class="relatedList relatedContacts">
          <ul>
          </ul>
        </div>
      </div>
      <div class="formrow"><input type="submit"></div>
    </form>
  </div>
</div>

