<div class="mobileCover" id="viewCover"></div>
<h1 id="viewHeader">Create</h1>
<div class="row">
  <div class="viewButton createButton">
    {{#link-to 'create.contact'}}<div class="circlebg"><img src="img/contacts.png" /><p>Contacts</p></div>
  {{/link-to}}</div>
  <div class="viewButton createButton">
    {{#link-to 'create.event'}}<div class="circlebg"><img src="img/events.png" /><p>Events</p></div>{{/link-to}}
  </div>
</div>
<div class="row">
  <div class="viewButton createButton">
    {{#link-to 'create.task'}}<div class="circlebg"><img src="img/tasks.png" /><p>Tasks</p></div>{{/link-to}}
  </div>
  <div class="viewButton createButton">
    {{#link-to 'create.tag'}}<div class="circlebg"><img src="img/tags.png" /><p>Tags</p></div>{{/link-to}}
  </div>
</div>