<div class="mobileCover" id="createTaskCover"></div>
<div class="createContainer newTask">
  <h2 id="createHeader">Create Task</h2>
  <div class="createTask createForm createMobile">
    <form>
      <div class="formrow">Task title: <input type="text" id="taskName"></div>
      <div class="formrow">Task notes: <input type="text" id="taskNotes"></div>
      <div class="formrow">Due date: <input type="datetime-local" id="taskDue"></div>
      <div class="formrow"><input type="submit"></div>
    </form>
  </div>
</div>