<div class="mobileCover" id="tasksCover"></div>
  <div id="appcont" class="viewcont">
    <div class="section-container" id="taskscont">
      <div class="row">
        <div class="col-md-4" id="taskpane1">
          <img src="img/tasks.png" / class="contactpadding">
          <h1 class="contactpadding" id="mobileTaskHead">Tasks ({{tasksToShow.length}})</h1>
          <form method="get" action="/search" class="search contactpadding" id="contactsearch">
            <input name="q" type="text" size="40" placeholder="Search..." id="typeAheadJustTasks">
          </form>
          <div class="filtercolumn contactpadding">
            <h4>Sort by:</h4>
            <div class="contsort">
					  {{view Ember.Select 
						   class="listSorter" 
						   id="taskSort"
						   content=sortOptions
						   optionLabelPath="content.label"
						   optionValuePath="content.primarySort"
						   selection=selectedSortOption}}
            </div>
          </div>
          <button class="sortingToggle" id="byDate" {{action sortDate}}>Sort</button>
          <button class="sortingToggle" id="byPriority" {{action sortPriority}}>Sort</button>
          <button class="sortingToggle" id="byName" {{action sortName}}>Sort</button>
          <button class="sortingToggle" id="byContact" {{action sortContact}}>Sort</button>
          <ul id="tasklist" class="sidelist">
            {{#each task in tasksToShow}}
              {{#if task.title}}
                {{#link-to 'tasks.task' task}}<li><img src="img/check.png" {{bind-attr class="task.status:completed"}} />{{task.title}}</li>{{/link-to}}
              {{else}}
                {{#if task.notes}}
                  {{#link-to 'tasks.task' task}}<li><img src="img/check.png" {{bind-attr class="task.status:completed"}} />{{task.notes}}</li>{{/link-to}}
                {{else}}
                  {{#link-to 'tasks.task' task}}<li><img src="img/check.png" {{bind-attr class="task.status:completed"}} />N/A</li>{{/link-to}}
                {{/if}}
              {{/if}}
            {{/each}}           
          </ul>
        </div>
        {{outlet}}
      </div>
    </div>
  </div>