<div class="well">
    <strong>Events Index: </strong>
    <ul class="list-group">
        {{#each event in model}}
        <li class="list-group-item">
            {{ event.title }}
        </li>
        {{/each}}
    </ul>
</div>
