<div id="appcont" class="viewcont" ng-controller="ContactsController as contactsCtrl">
    <div class="section-container" id="contactscont">
      <div class="row">
        <div class="col-md-4" id="contactpane1">
          <img src="img/contacts.png" class="contactpadding" />
          <h1 class="contactpadding">Contacts ({{FilteredContacts.length}})</h1>
          <form method="get" action="/search" class="search contactpadding" id="contactsearch">
            <input name="q" type="text" size="40" placeholder="Search..." id="typeAheadJustContacts">
          </form>
          <div class="filtercolumn contactpadding">
            <h4>Show:</h4>
            <div class="contsort">
              <select ng-model="ContactFilter" ng-options="option for option in ContactShow" ng-change="updateContactList()"></select>
            </div>
          </div>
          <div class="filtercolumn contactpadding">
            <h4>Sort by:</h4>
            <div class="contsort">
              <select ng-model="ContactOrder" ng-options="option.title for option in ContactSort"></select>
            </div>
          </div>
          <button class="sortingToggle" id="showAll">Sort</button>
          <button class="sortingToggle" id="showRecent">Sort</button>
          <button class="sortingToggle" id="byName">Sort</button>
          <button class="sortingToggle" id="byCompany">Sort</button>
          <ul id="contactlist" class="sidelist">
            <div ng-repeat="contact in FilteredContacts | orderBy: ContactOrder.prop">
              <a ui-sref="contacts.contact({contact_id: contact.id})"><li>{{getContactTitle(contact)}}<span class="hidden">{{contact.updated_at}}</span></li></a>
            </div>
          </ul>
        </div>
        <div ui-view></div>
      </div>
    </div>
 </div>