<div id="appcont" class="viewcont" ng-controller="ContactsController as allContacts">
    <div class="section-container" id="contactscont">
      <div class="row">
        <div class="col-md-4" id="contactpane1">
          <img src="img/contacts.png" class="contactpadding" />
          <h1 class="contactpadding">Contacts (<span id="itemCount">##</span>)</h1>
          <form method="get" action="/search" class="search contactpadding" id="contactsearch">
            <input name="q" type="text" size="40" placeholder="Search..." id="typeAheadJustContacts">
          </form>
          <div class="filtercolumn contactpadding">
            <h4>Show:</h4>
            <div class="contsort">
              <select class="listSorter" id="contactShow">
                <option>Show Options</option>
                <option>Show Options</option>
                <option>Show Options</option>
              </select>
            </div>
          </div>
          <div class="filtercolumn contactpadding">
            <h4>Sort by:</h4>
            <div class="contsort">
              <select class="listSorter" id="contactSort">
                <option>Show Options</option>
                <option>Show Options</option>
                <option>Show Options</option>
              </select>
            </div>
          </div>
          <button class="sortingToggle" id="showAll">Sort</button>
          <button class="sortingToggle" id="showRecent">Sort</button>
          <button class="sortingToggle" id="byName">Sort</button>
          <button class="sortingToggle" id="byCompany">Sort</button>
          <ul id="contactlist" class="sidelist">
            <a href="contact.html" ng-repeat="contact in allContacts.contacts"><li>{{contact.name}}<span class="hidden">{{contact.updated_at}}</span></li></a>
          </ul>
        </div>
        <!--OUTLET-->
        <div class="col-md-7" id="contactpanel2">
          <h1 id="mobileContact">Contacts</h1>
          <img id="profilepic" src="img/contacts.png" />
          <img src="img/arrow.png" class="backArrow" />
          <h2 id="contactname" class="contactname contacttext"><b>Select a contact</b></h2>
          <div id="detailmenubar" class="contactmenu">
            <img src="img/contacts.png" class="selected" />
            <img src="img/events.png" />
            <img src="img/tasks.png" />
            <img src="img/tags.png" />
            <a href="javascript:void(0)" class="openModal3"><img src="img/create.png" id="createicon" class="addContact" /></a>
            <img src="img/trash.png" id="trashicon" />              
          </div>
          <div class="panelcontent">
            <div class="infopanel selected">
            </div>
            <div class="infopanel">
            </div>
            <div class="infopanel">
            </div>
            <div class="infopanel">
            </div>
          </div>
        </div>
        <!--/OUTLET-->
      </div>
    </div>
 </div>