<div class="col-md-7" id="contactpanel2">
  <h1 id="mobileContact">Contacts</h1>
  <img id="profilepic" src="img/contacts.png">
  <img src="img/arrow.png" class="backArrow">
  <h2 id="contactname" class="contactname contacttext"><b>Select a contact</b></h2>
  <div id="detailmenubar" class="contactmenu">
    <img src="img/contacts.png" class="selected">
    <img src="img/events.png">
    <img src="img/tasks.png">
    <img src="img/tags.png">
    <a href="javascript:void(0)"><img src="img/create.png" class="addContact" ng-click="create()"/></a>
    <img src="img/trash.png" id="trashicon">              
  </div>
  <div class="panelcontent">
    <div class="infopanel selected">
    </div>
    <div class="infopanel">
    </div>
    <div class="infopanel">
    </div>
    <div class="infopanel">
    </div>
  </div>
</div>