<div id="appcont" class="viewcont">
    <div class="section-container" id="contactscont">
      <div class="row">
        <div class="col-md-4" id="contactpane1">
          <img src="img/contacts.png" class="contactpadding" />
          <h1 class="contactpadding">Contacts (<span id="itemCount">{{contactsToShow.length}}</span>)</h1>
          <form method="get" action="/search" class="search contactpadding" id="contactsearch">
            <input name="q" type="text" size="40" placeholder="Search..." id="typeAheadJustContacts">
          </form>
          <div class="filtercolumn contactpadding">
            <h4>Show:</h4>
            <div class="contsort">
					  {{view Ember.Select 
						   class="listSorter" 
						   id="contactShow"
						   content=showOptions
						   optionLabelPath="content.label"
						   optionValuePath="content.id"
						   selection=selectedShowOption}}
            </div>
          </div>
          <div class="filtercolumn contactpadding">
            <h4>Sort by:</h4>
            <div class="contsort">
					  {{view Ember.Select 
						   class="listSorter" 
						   id="contactSort"
						   content=sortOptions
						   optionLabelPath="content.label"
						   optionValuePath="content.primarySort"
						   selection=selectedSortOption}}
            </div>
          </div>
          <button class="sortingToggle" id="showAll" {{action showAll}}>Sort</button>
          <button class="sortingToggle" id="showRecent" {{action showRecent}}>Sort</button>
          <button class="sortingToggle" id="byName" {{action sortName}}>Sort</button>
          <button class="sortingToggle" id="byCompany" {{action sortCompany}}>Sort</button>
          <ul id="contactlist" class="sidelist">
            {{#each contact in controller}}
              {{#if contact.name}}
                {{#link-to 'contacts.contact' contact}}<li>{{contact.name}}<span class="hidden">{{contact.updated_at}}</span></li>{{/link-to}}
              {{else}}
                {{#if contact.emails}}
                  {{#each email in contact.emails}}
                    {{#link-to 'contacts.contact' contact}}<li>{{email.email}}<span class="hidden">{{contact.updated_at}}</span></li>{{/link-to}}
                  {{/each}}
                {{else}}
                  {{#link-to 'contacts.contact' contact}}<li>N/A<span class="hidden">{{contact.updated_at}}</span></li>{{/link-to}}
                {{/if}}
              {{/if}}
            {{/each}}
          </ul>
        </div>
        {{outlet}}
      </div>
    </div>
 </div>