<div class="col-md-7 mobileIn" id="contactpanel2">
    <h1 id="mobileContact">Contacts</h1>
    <img id="profilepic" src="img/contacts.png" />
    <img src="img/arrow.png" class="backArrow" />       

    <h2 id="contactname" class="contactname contacttext">
      {{contact.name}}
      <span class="hidden">{{contact.id}}</span>
    </h2>

    <div id="detailmenubar" class="contactmenu">
      <img src="img/contacts.png" class="selected" />
      <img src="img/events.png"/>
      <img src="img/tasks.png"/>
      <img src="img/tags.png"/>
      <a href="javascript:void(0)"><img src="img/create.png" class="addContact" ng-click="create()"/></a>
      <img src="img/trash.png" id="trashicon" />
      <button id="destroy">{{contact.id}}</button>
    </div>

    <div class="panelcontent" id="contactcontent" ng-show="detailsView">

      <div class="infopanel">
        <div class="contactrow">
          <img src="img/cellphone.png">
          <h4 class="phonenumber">
          	<span>
              {{contact.phones[0].number}}
            </span>
          </h4>
        </div>
        <div class="contactrow">
          <a href="javascript:void(0)" class="openModal7" style="display:none">No email</a>
          <a href="" target="_blank" class="dynamicEmail emailLink desktopEmail"><img src="img/openmail.png"></a>
       		<a href="" class="dynamicEmail emailLink mobileEmail"><img src="img/openmail.png"></a>
          <h4 class="emailfield">
            <span>
              {{contact.emails[0].email}}
            </span>
          </h4>
        </div>
        <div class="contactrow">
          <img id="bdayImage" src="img/birthday.png">
          <h4 id="bday">
            {{contactBirthday}}
          </h4>
        </div>
        <div class="contactrow">
          <img id="locationImage" src="img/location.png">
          <h4 class="contactlocation">
            {{contact.address}}
          </h4>
        </div>
        <div class="contactpropertiesrow">
          <h3 class="propertiesHeader">
            Custom Fields
          </h3>
          <div class="propertiesList">
              <div class="key">Property:</div><div class="value">Value</div><br/>
          </div>
        </div>
      </div>

      <div class="infopanel">
        <form id="addForm">
          <div class="formrow">Add events: <br />
            <input id="typeAheadAddEvent" />
          </div>
        </form>
          <div class="contactrow eventrow" ng-repeat="event in contact.events">
            <a ui-sref="events.event({event_id:event.id})"><img src="img/events.png" class="eventIcon">
            <h4>{{event.title}}</h4><span class="hidden">{{event.id}}</span></a><img src="img/close.png" class="removeAssoc" />
          </div>
      </div>

      <div class="infopanel">
        <form id="addForm">
          <div class="formrow">Add tasks: <br />
            <input id="typeAheadAddTask" />
          </div>
        </form>
          <div class="contactrow taskrow" ng-repeat="task in contact.tasks">
            <a ui-sref="tasks.task({task_id:task.id})"><img src="img/tasks.png" class="taskIcon">
            <h4>{{task.title}}</h4><span class="hidden">{{task.id}}</span></a><img src="img/close.png" class="removeAssoc" />
          </div>
      </div>

      <div class="infopanel">
        <form id="addForm">
          <div class="formrow">Add tags: <br />
            <input id="typeAheadAddTag" />
          </div>
        </form>
          <div class="contactrow tagrow" ng-repeat="tag in contact.tags">
            <a ui-sref="tags.tag({tag_id:tag.id})"><img src="img/tags.png" class="tagIcon">
            <h4>{{tag.name}}</h4><span class="hidden">{{tag.id}}</span></a><img src="img/close.png" class="removeAssoc" />
          </div>
      </div>
    </div>

    <div class="panelfooter" id="contactfooter">
      <h5 class="notesLabel">Note:</h5>
      <div class="notesField">
        {{contact.notes}}          
      </div>
    </div>
  </div>

  <div id="detailPanel" class="panelIn" ng-hide="detailsView">
    <div class="row">
      <div class="col-md-4 dCol" id="dCol1">
        <div>
          <h1>
              {{contact.name}}
              <span class="hidden">{{id}}</span>
          </h1>
          <div class="contactgroup contactDetails">
            <div class="contactitem">
              <a href="" target="_blank" class="dynamicEmail emailLink"><img src="img/openmail.png"></a>
              {{contact.emails[0].email}}
            </div>
            <div class="contactitem">
              <img src="img/openmail.png" />
              <a href="emailLink" target="_blank" class="emailLink">View Emails</a>
            </div>
            <div class="contactitem">
              <img src="img/cellphone.png" />
                <span>
                  {{contact.phones[0].number}}
                </span>
            </div>
            <div class="contactitem">
              <img src="img/birthday.png" />
              <span>
                {{contactBirthday}}
              </span>
            </div>
            <div class="contactitem">
              <img src="img/location.png" />
              <span>                  
                {{contact.address}}
              </span>
            </div>
          </div>
          <div class="contactgroup relatedObjects">
            <div class="contactitem">
              <img src="img/events.png" />
              <span>{{contact.events.length}}</span>
            </div>
            <div class="contactitem">
              <img src="img/tasks.png" />
              <span>{{contact.tasks.length}}</span>
            </div>
            <div class="contactitem">
              <img src="img/tags.png" />
              <span>{{contact.tags.length}}</span>
            </div>
          </div>
          <h5 class="notesLabel2">Note: {{contact.notes}}</h5>
          <a href="javascript:void(0)"><img src="img/create.png" class="detailCreate" ng-click="create()" /></a>
          <img id="detailTrash" src="img/trash.png" />
        </div>
        <img class="columnDivider" src="img/divider_blue.png" />
      </div>
      <div class="col-md-4 dCol" id="dCol2">
        <div>
          <div class="columnhead">
            <img src="img/contacts.png" />
            <h3>Events</h3>
          </div>
          <br />
          <div class="detailSection">
            <div class="detailTitle">Open<img src="img/arrow_black.png" class="accordionarrow detailArrow arrowdown" ng-click="showOpenEvents=!showOpenEvents"></div>
            <ul class="columnlist" ng-show="showOpenEvents">
              <div ng-repeat="event in contact.events | openEvents:events">
                <li><a ui-sref="events.event({event_id:event.id})">{{event.title}}</a></li>
              </div>
              <li ng-if="(contact.events | openEvents:events).length==0"><i>No events upcoming</i></li>
            </ul>
          </div>
          <div class="detailSection">
            <div class="detailTitle">History<img src="img/arrow_black.png" class="accordionarrow detailArrow arrowdown" ng-click="showClosedEvents=!showClosedEvents"></div>
            <ul class="columnlist" ng-show="showClosedEvents">
              <div ng-repeat="event in contact.events | closedEvents:events">
                <li><a ui-sref="events.event({event_id:event.id})">{{event.title}}</a></li>
              </div>
              <li ng-if="(contact.events | closedEvents:events).length==0"><i>No events past</i></li>
            </ul>
          </div>
        </div>
        <img class="columnDivider" src="img/divider_blue.png" />
      </div>
      <div class="col-md-4 dCol" id="dCol3">
        <div>
          <div class="columnhead">
            <img src="img/tasks.png" />
            <h3>Tasks</h3>
          </div>
          <br />
          <div class="detailSection">
            <div class="detailTitle">Open<img src="img/arrow_black.png" class="accordionarrow detailArrow arrowdown" ng-click="showOpenTasks=!showOpenTasks"></div>
            <ul class="columnlist" ng-show="showOpenTasks">
              <div ng-repeat="task in contact.tasks | openTasks">
                <li><a ui-sref="tasks.task({task_id:task.id})">{{task.title}}</a></li>
              </div>
              <li ng-if="(contact.tasks | openTasks).length==0"><i>No open tasks</i></li>
            </ul>
          </div>
          <div class="detailSection">
            <div class="detailTitle">History<img src="img/arrow_black.png" class="accordionarrow detailArrow arrowdown" ng-click="showClosedTasks=!showClosedtasks"></div>
            <ul class="columnlist" ng-show="showClosedTasks">
              <div ng-repeat="task in contact.tasks | closedTasks">
                <li><a ui-sref="tasks.task({task_id:task.id})">{{task.title}}</a></li>
              </div>
              <li ng-if="(contact.tasks | closedTasks).length==0"><i>No closed tasks</i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="detailPanelHider"></div>
  <div class="col-md-1 flipswitch fsblue">
    <img src="img/fliparrow_blue.png" id="fliparrow" ng-click="detailsView=!detailsView"/>
  </div>