<div class="well">
    <strong>Contacts Index: </strong>
    <ul class="list-group">
        {{#each contact in model}}
        <li class="list-group-item">
            {{ contact.name }}
        </li>
        {{/each}}
    </ul>
</div>
