<div class="mobileCover" id="tasksCover"></div>
<div id="appcont" class="viewcont">
  <div class="section-container" id="taskscont">
    <div class="row">
      <div class="col-md-4" id="taskpane1">
        <img src="img/orphans.png" / class="contactpadding">
        <h1 class="contactpadding" id="mobileTaskHead">Orphan Tasks (<span id="itemCount">{{taskOrphans.length}}</span>)</h1>
        <form method="get" action="/search" class="search contactpadding" id="contactsearch">
          <input name="q" type="text" size="40" placeholder="Search...">
        </form>
        <div class="filtercolumn contactpadding">
          <h4>Sort by:</h4>
          <div class="contsort">
          <select class="listSorter" id="taskSort">
            <option>Sort Option</option>
            <option>Sort Option</option>
          </select>
          </div>
        </div>
        <button class="sortingToggle" id="byDate" {{action sortDate}}>Sort</button>
        <button class="sortingToggle" id="byPriority" {{action sortPriority}}>Sort</button>
        <button class="sortingToggle" id="byName" {{action sortName}}>Sort</button>
        <button class="sortingToggle" id="byContact" {{action sortContact}}>Sort</button>

        <ul id="tasklist" class="sidelist" ng-repeat="task in taskOrphans">
            <a ui-sref="orphanTasks.task({task_id: task.id})"><li>{{task.title}}</li></a>     
        </ul>

        <span id="selectedID"></span>
      </div>
      <div ui-view></div>
    </div>
  </div>
</div>