<div class="mobileCover" id="tasksCover"></div>
<div id="appcont" class="viewcont">
  <div class="section-container" id="taskscont">
    <div class="row">
      <div class="col-md-4" id="taskpane1">
        <img src="img/orphans.png" / class="contactpadding">
        <h1 class="contactpadding" id="mobileTaskHead">Orphan Tasks (<span id="itemCount">{{oTasks.length}}</span>)</h1>
        <form method="get" action="/search" class="search contactpadding" id="contactsearch">
          <input name="q" type="text" size="40" placeholder="Search...">
        </form>
        <div class="filtercolumn contactpadding">
          <h4>Sort by:</h4>
          <div class="contsort">
          {{view Ember.Select 
             class="listSorter" 
             id="taskSort"
             content=sortOptions
             optionLabelPath="content.label"
             optionValuePath="content.primarySort"
             selection=selectedSortOption}}
          </div>
        </div>
        <button class="sortingToggle" id="byDate" {{action sortDate}}>Sort</button>
        <button class="sortingToggle" id="byPriority" {{action sortPriority}}>Sort</button>
        <button class="sortingToggle" id="byName" {{action sortName}}>Sort</button>
        <button class="sortingToggle" id="byContact" {{action sortContact}}>Sort</button>
        <ul id="tasklist" class="sidelist orphanList">
          {{#each task in oTasks}}
            {{#if task.title}}
              <li><span>{{task.title}}</span><span style="display:none">{{task.id}}</span></li>
            {{else}}
              <li><span>N/A</span><span style="display:none">{{task.id}}</span></li>
            {{/if}}
          {{/each}}           
        </ul>
        <span id="selectedID"></span>
      </div>
      <div class="col-md-7" id="taskpanel2">
        <h1 id="mobileContact" class="eventDetailHeader">Tasks</h1>
        <img src="img/arrow.png" class="backArrow" />
        <h2 id="contactname" class="taskname orphantitle">Select an orphan</h2>
        <div class="panelcontent dashContent" id="eventscontent">              
          <form id="associationForm">
            <div class="formrow">Connect related items: <br />
              <input id="typeAheadOrphanTask" />
            </div>
            <div class="formrow">
              Selected Items:
              <div class="relatedList relatedEvents relatedOrphans">
                <ul>
                </ul>
              </div>
            </div>
            <div class="formrow"><input type="submit"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>